Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-i18n-keys, test-translation-format-consistency, test-actionmap, test-helpers, test-domains, test-dns, test-apps, test-appscatalog, test-appurl, test-questions, test-app-config, test-changeurl, test-backuprestore, test-permission, test-settings, test-user-group, test-regenconf, test-service, test-ldapauth, autofix-translated-strings

test-i18n-keys:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-translation-format-consistency:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-actionmap:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-helpers:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-domains:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-dns:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-apps:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-appscatalog:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

autofix-translated-strings:
  stage: translation
  image: before-install
  needs: []
  before_script:
  - apt-get update -y && apt-get install git hub -y
  - git config --global user.email "yunohost@yunohost.org"
  - git config --global user.name "$GITHUB_USER"
  ...

Fix tests
  src/tests/test_questions.py
  src/utils/config.py
Due: none

Typo é_è
  src/tests/test_apps.py
Due: none

Fix call to ask_questions_and_parse_answers
  src/utils/config.py
Due: none

Add app-resources tests to ci
  .gitlab/ci/test.gitlab-ci.yml
Due: none

postinstall: migrate_to_bullseye should be skipped on bullseye
  src/tools.py
Due: test-i18n-keys

Update nodejs
  helpers/nodejs
Due: none

Removed redundant refresh of UPNP when loading firewall
  src/firewall.py
Due: test-i18n-keys

Add n auto-updater
  .github/workflows/n_updater.sh
  .github/workflows/n_updater.yml
Due: none

[fix] postfix sni tls_server_chain_sni_maps -> tls_server_sni_maps
  conf/postfix/main.cf
Due: none

php helpers: only trigger the legacy remove_apt_deps inside ynh_remove_fpm_config if we're in the remove string to prevent epic catastrophies when the app changes php version
  data/helpers.d/php
Due: test-helpers

Only include multimedia system folder in system backup/restore
  hooks/backup/18-data_multimedia
  hooks/restore/18-data_multimedia
Due: none

Avoid grep issue with vmstat command
  helpers/hardware
Due: none

Update locales again
  locales/en.json
Due: test-i18n-keys, test-translation-format-consistency, autofix-translated-strings

settings migration wip
  src/migrations/0024_global_settings_to_configpanel.py
Due: none

wip
  locales/en.json
  share/actionsmap.yml
  share/config_settings.toml
  src/settings.py
  src/utils/config.py
  src/utils/legacy.py
Due: test-i18n-keys, test-translation-format-consistency, autofix-translated-strings

clean unused code
  src/settings.py
Due: test-i18n-keys

Update locales
  locales/en.json
  src/settings.py
Due: test-i18n-keys, test-translation-format-consistency, autofix-translated-strings

settings migration
  locales/en.json
  src/migrations/0024_global_settings_to_configpanel.py
Due: test-i18n-keys, test-translation-format-consistency, autofix-translated-strings

wip
  locales/en.json
  share/config_settings.toml
  src/settings.py
  src/utils/config.py
Due: test-i18n-keys, test-translation-format-consistency, autofix-translated-strings

Search and replace old settings, first pass
  conf/ssh/sshd_config
  hooks/conf_regen/03-ssh
  hooks/conf_regen/15-nginx
  hooks/conf_regen/25-dovecot
  hooks/conf_regen/52-fail2ban
  maintenance/missing_i18n_keys.py
  src/backup.py
  src/diagnosers/24-mail.py
  src/diagnosers/70-regenconf.py
Due: test-i18n-keys

settings: use True and False for booleans
  share/config_settings.toml
Due: none

typo
  src/settings.py
Due: test-i18n-keys

settings: use email.smtp.smtp_relay_enabled
  conf/postfix/main.cf
  hooks/conf_regen/19-postfix
  src/migrations/0024_global_settings_to_configpanel.py
Due: none

settings: backup settings.yml
  hooks/backup/20-conf_ynh_settings
  hooks/restore/20-conf_ynh_settings
Due: none

settings: password stength...what could go wrong ?
  src/utils/password.py
Due: none

migration wip
  src/migrations/0024_global_settings_to_configpanel.py
Due: none

[fix] Add generic CSP only if needed
  conf/nginx/security.conf.inc
Due: none

settings: use the yml when necessary
  src/migrations/0024_global_settings_to_configpanel.py
  src/utils/password.py
Due: none

fix: YNH_MAIN_DOMAINS env variable in regenconf
  hooks/conf_regen/12-metronome
  src/regenconf.py
Due: test-i18n-keys

Removes Content-Security-Policy-Report-Only header
  conf/nginx/security.conf.inc
Due: none

fix: config.py: add more properties for config_get?full
  src/utils/config.py
Due: none

fix: config.py: Question.filter as None by default make more sense
  src/utils/config.py
Due: none

fix: move _list_upgradable_apps() logic from tools.py to apps.py
  share/actionsmap.yml
  src/app.py
  src/tools.py
Due: test-i18n-keys

wip unit tests
  src/tests/test_settings.py
Due: none

fix ynh_exec_*: ensure the arg message is used
  helpers/logging
Due: none

use moulinette instead of os.system, os.chown, os.chmod
  src/certificate.py
  src/diagnosers/21-web.py
Due: test-i18n-keys

wip tests
  locales/en.json
  share/config_settings.toml
  src/settings.py
  src/tests/test_settings.py
Due: test-i18n-keys, test-translation-format-consistency, autofix-translated-strings

[fix] Avoid to delete --is-big unbackuped directories
  helpers/backup
Due: none

fix: extra extra lines o/
  src/dns.py
Due: test-i18n-keys

Always activate time when running inside CI tests
  helpers/logging
Due: none

Path conditions:
  test-i18n-keys: (any of: locales/en.json, src/yunohost/*.py, data/hooks/diagnosis/*.py) or (any of: locales/en.json, src/*.py, src/diagnosers/*.py)
  test-translation-format-consistency: any of: locales/*
  test-actionmap: any of: data/actionsmap/*.yml
  test-helpers: any of: data/helpers.d/*
  test-domains: any of: src/yunohost/domain.py
  test-dns: any of: src/yunohost/dns.py, src/yunohost/utils/dns.py
  test-apps: any of: src/yunohost/app.py
  test-appscatalog: any of: src/yunohost/app_calalog.py
  test-appurl: any of: src/yunohost/app.py
  test-questions: any of: src/yunohost/utils/config.py
  test-app-config: any of: src/yunohost/app.py, src/yunohost/utils/config.py
  test-changeurl: any of: src/yunohost/app.py
  test-backuprestore: any of: src/yunohost/backup.py
  test-permission: any of: src/yunohost/permission.py
  test-settings: any of: src/yunohost/settings.py
  test-user-group: any of: src/yunohost/user.py
  test-regenconf: any of: src/yunohost/regenconf.py
  test-service: any of: src/yunohost/service.py
  test-ldapauth: any of: src/yunohost/authenticators/*.py
  autofix-translated-strings: any of: locales/*
