Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-actionmap, test-helpers, test-domains, test-dns, test-apps, test-appscatalog, test-appurl, test-questions, test-app-config, test-changeurl, test-backuprestore, test-permission, test-settings, test-user-group, test-regenconf, test-service, test-ldapauth, test-i18n-keys, autofix-translated-strings

Path conditions:
  test-actionmap: any of: share/actionsmap.yml
  test-helpers: any of: helpers/*
  test-domains: any of: src/domain.py
  test-dns: any of: src/dns.py, src/utils/dns.py
  test-apps: any of: src/app.py
  test-appscatalog: any of: src/app_calalog.py
  test-appurl: any of: src/app.py
  test-questions: any of: src/utils/config.py
  test-app-config: any of: src/app.py, src/utils/config.py
  test-changeurl: any of: src/app.py
  test-backuprestore: any of: src/backup.py
  test-permission: any of: src/permission.py
  test-settings: any of: src/settings.py
  test-user-group: any of: src/user.py
  test-regenconf: any of: src/regenconf.py
  test-service: any of: src/service.py
  test-ldapauth: any of: src/authenticators/*.py
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py
  autofix-translated-strings: any of: locales/*

Add push notification plugins
  conf/dovecot/dovecot.conf
Due: none

appsv2: we don't want to store user-provided passwords by default, but they should still be set in the env for the script to use it
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

diagnosis: fix typo, diagnosis detail should be a list, not a string
  src/diagnosers/24-mail.py
Due: test-i18n-keys

Translated using Weblate (Galician)
  locales/gl.json
Due: autofix-translated-strings

Translated using Weblate (Arabic)
  locales/ar.json
Due: autofix-translated-strings

appsv2: fix i18n for arch mismatch, can't juste join() inside string formated with .format()
  locales/en.json
  locales/es.json
  locales/eu.json
  locales/fr.json
  locales/gl.json
  locales/pl.json
  locales/tr.json
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys, autofix-translated-strings

appsv2: missing raw_msg=True for exceptions
  src/utils/resources.py
Due: none

appsv2: fix check that main permission url is '/'
  src/utils/resources.py
Due: none

appsv2: mysqlshow is fucking dumb and returns exit code 0 when DB doesnt exists ...
  src/utils/resources.py
Due: none

apps: fix inconsistent app removal during remove-after-failed-upgrade and remove-after-failed-backup contexts
  src/app.py
  src/backup.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-backuprestore, test-i18n-keys

Unused imports
  src/backup.py
Due: test-backuprestore, test-i18n-keys

helpers: in apt/php stuff, don't try to upgrade-alternatives if the default PHP version ain't available anymore
  helpers/apt
Due: test-helpers

appsv2: also replace __DOMAIN__ in resource properties
  src/utils/resources.py
Due: none

appsv2: in php helpers, use the global $phpversion var/setting by default instead of $YNH_PHP_VERSION
  helpers/php
Due: test-helpers

ci: fix autoblack PR targetting tags instead of dev
  .gitlab/ci/lint.gitlab-ci.yml
Due: none

Create codeql.yml
  .github/workflows/codeql.yml
Due: none

Update changelog for 11.1.7
  debian/changelog
Due: none

[CI] Format code with Black
  doc/generate_resource_doc.py
  src/app.py
  src/backup.py
  src/dns.py
  src/migrations/0026_new_admins_group.py
  src/utils/config.py
  src/utils/resources.py
Due: test-dns, test-apps, test-appurl, test-questions, test-app-config, test-changeurl, test-backuprestore, test-i18n-keys

appsv2: add check about database vs. apt consistency in resource / warn about lack of explicit dependency to mariadb-server
  src/utils/resources.py
Due: none

apps: don't miserably crash when failing to read .md file such as DESCRIPTION.md
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

postinstall: raise a proper error when trying to use e.g. 'admin' as the first username which will conflict with the admins group mail aliases
  src/tools.py
Due: test-i18n-keys

appsv2: fix user provisionion ... Aleks was drunk ... check_output('cmd &>/dev/null') will always return empty string...
  src/utils/resources.py
Due: none

postgresql: fix regenconf hook, the arg format thingy changed a bit at some point ?
  hooks/conf_regen/35-postgresql
Due: none

regenconf: in apt/php stuff, don't try to upgrade-alternatives if the default PHP version ain't available anymore (similar to commit e24ddd29)
  hooks/conf_regen/10-apt
Due: none

appsv2: zbfgblg using '&' in os.system calls is interpreted using sh and not bash i guess...
  src/utils/resources.py
Due: none

appsv2: add home dir that defaults to /var/www/__APP__ for system user resource
  src/utils/resources.py
Due: none

apps: fix edge case when upgrading using a local folder not modified since a while
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

Translated using Weblate (Basque)
  locales/eu.json
Due: autofix-translated-strings

Update changelog for 11.1.8
  debian/changelog
Due: none

postgresql: moar regenconf fixes
  hooks/conf_regen/35-postgresql
Due: none

postgresql: ugly hack to hide boring warning messages when installing postgresql with apt the first time ...
  src/hook.py
Due: test-i18n-keys

quality: unused function
  src/tools.py
Due: test-i18n-keys

Update changelog for 11.1.8.1
  debian/changelog
Due: none

[CI] Format code with Black
  src/tools.py
  src/utils/resources.py
Due: test-i18n-keys

regenconf: fix undefined var in apt regenconf
  hooks/conf_regen/10-apt
Due: none

Update changelog for 11.1.8.2
  debian/changelog
Due: none

[CI] Format code with Black
  src/hook.py
  src/tools.py
  src/utils/resources.py
Due: test-i18n-keys

[CI] Format code with Black
  src/hook.py
Due: test-i18n-keys

ux: Moar boring postgresql messages displayed as warning
  src/hook.py
Due: test-i18n-keys
