Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-actionmap, test-helpers, test-domains, test-dns, test-apps, test-appscatalog, test-appurl, test-questions, test-app-config, test-changeurl, test-backuprestore, test-permission, test-settings, test-user-group, test-regenconf, test-service, test-ldapauth, test-i18n-keys, autofix-translated-strings

Path conditions:
  test-actionmap: any of: share/actionsmap.yml
  test-helpers: any of: helpers/*
  test-domains: any of: src/domain.py
  test-dns: any of: src/dns.py, src/utils/dns.py
  test-apps: any of: src/app.py
  test-appscatalog: any of: src/app_calalog.py
  test-appurl: any of: src/app.py
  test-questions: any of: src/utils/config.py
  test-app-config: any of: src/app.py, src/utils/config.py
  test-changeurl: any of: src/app.py
  test-backuprestore: any of: src/backup.py
  test-permission: any of: src/permission.py
  test-settings: any of: src/settings.py
  test-user-group: any of: src/user.py
  test-regenconf: any of: src/regenconf.py
  test-service: any of: src/service.py
  test-ldapauth: any of: src/authenticators/*.py
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py
  autofix-translated-strings: any of: locales/*

form: add legacy "name" attr
  src/utils/form.py
Due: none

form: rework pre + post options validators
  src/utils/form.py
Due: none

form: add reserved "id" validator
  src/utils/configpanel.py
  src/utils/form.py
Due: none

configpanel: update set
  src/settings.py
  src/utils/configpanel.py
Due: test-settings, test-i18n-keys

form+config: replace _parse_pre_answered method with generic function
  src/utils/configpanel.py
  src/utils/form.py
Due: none

configpanel: update _apply
  src/app.py
  src/domain.py
  src/settings.py
  src/utils/configpanel.py
Due: test-domains, test-apps, test-appurl, test-app-config, test-changeurl, test-settings, test-i18n-keys

config: fix wrong diff logic on settings apply
  src/utils/configpanel.py
  src/utils/form.py
Due: none

configpanel: update run_action
  src/app.py
  src/utils/configpanel.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

form: fix entities validators order for filter and apply the right default
  src/tests/test_questions.py
  src/utils/form.py
Due: none

configpanel: update _ask
  src/utils/configpanel.py
Due: none

configpanel: quickly update list_actions
  src/utils/configpanel.py
Due: none

form: fix forbidden readonly type
  src/tests/test_questions.py
  src/utils/form.py
Due: none

config: rework config+settings getter methods
  src/app.py
  src/dns.py
  src/domain.py
  src/settings.py
  src/tests/test_dns.py
  src/utils/configpanel.py
  src/utils/form.py
Due: test-domains, test-dns, test-apps, test-appurl, test-app-config, test-changeurl, test-settings, test-i18n-keys

typing: add missing type + misc typing fixes
  src/app.py
  src/domain.py
  src/log.py
  src/settings.py
  src/utils/configpanel.py
  src/utils/form.py
Due: test-domains, test-apps, test-appurl, test-app-config, test-changeurl, test-settings, test-i18n-keys

form: add translating method
  src/tests/test_questions.py
  src/utils/form.py
Due: none

config: readd value has been initialized + change test removed value from settings since boolean has a native default value
  src/tests/test_app_config.py
  src/utils/configpanel.py
Due: none

form: rework entities validators to avoid multiple calls to them
  src/utils/form.py
Due: none

test:options: update tests results to pydantic parsing
  src/tests/test_questions.py
Due: none

form: rework 'hydrate_questions...' with a new 'parse_raw_options' that parse and validate options
  src/app.py
  src/utils/form.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

tests: update error instance in tests to YunohostError for packaging errors
  src/tests/test_questions.py
Due: none

form: remove ChoosableOptions for now
  src/utils/form.py
Due: none

configpanel: quick fix option typing
  src/utils/configpanel.py
Due: none

debian: add python3-pydantic + python3-email-validator dependencies
  debian/control
Due: none

form: default type to "select" if choices in option
  src/utils/form.py
Due: none

app: remove call of 'domain_config_get' to avoid infinite recursion
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

form+configpanel: reflect Section `optional` value to all its Options
  src/utils/configpanel.py
  src/utils/form.py
Due: none

form: parse pydantic error in logging
  src/utils/form.py
Due: none

configpanel: `is_action_section` as attr
  src/utils/configpanel.py
Due: none

form: readd `pattern` to `path`
  src/utils/form.py
Due: none

configpanel: add `value` in options dict for config get --full
  src/utils/configpanel.py
Due: none

form: force option type to 'select' if there's 'choices'
  src/tests/test_questions.py
  src/utils/form.py
Due: none

form: remove no longer used hydrate_option_type method
  src/utils/form.py
Due: none

Fix current_version parsing for notifications
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

Fix str(current_version)
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

appsv2/regenconf: prevent set -u to be enabled during regen-conf triggered from inside appsv2 scripts
  helpers/utils
  src/hook.py
  src/regenconf.py
Due: test-helpers, test-regenconf, test-i18n-keys

bookworm/debian: adapt control file to bookworm
  debian/control
Due: none

Update changelog for 12.0.0
  debian/changelog
Due: none

firewall: fix upnpc.discover() behavior that somehow now trigger an exception when cant talk to upnp device
  src/firewall.py
Due: test-i18n-keys

fix tests for bookworm, don't try this at home
  .gitlab/ci/test.gitlab-ci.yml
Due: none

Revert "fix tests for bookworm, don't try this at home"
  .gitlab/ci/test.gitlab-ci.yml
Due: none
