Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-actionmap, test-helpers, test-domains, test-dns, test-apps, test-appscatalog, test-appurl, test-questions, test-app-config, test-changeurl, test-backuprestore, test-permission, test-settings, test-user-group, test-regenconf, test-service, test-ldapauth, test-i18n-keys, autofix-translated-strings

test-actionmap:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

test-helpers:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

test-domains:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

test-dns:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

test-apps:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

test-appscatalog:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

test-appurl:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

test-questions:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

test-app-config:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

fix domain_config.toml typos in conditions
  share/config_domain.toml
Due: none

Duplicate import
  src/diagnosers/24-mail.py
Due: test-i18n-keys

Don't try restarting metronome if no domain configured for it
  src/certificate.py
Due: test-i18n-keys

Fix flake8 complains
  doc/generate_api_doc.py
  src/settings.py
  tox.ini
Due: test-settings, test-i18n-keys

Upate changelog for 11.1.5
  debian/changelog
Due: none

debian: Bump moulinette/ssowat requirement to 11.1
  debian/control
Due: none

Translated using Weblate (Arabic)
  locales/ar.json
Due: autofix-translated-strings

Translated using Weblate (Galician)
  locales/gl.json
Due: autofix-translated-strings

Translated using Weblate (French)
  locales/fr.json
Due: autofix-translated-strings

[CI] Format code with Black
  doc/generate_api_doc.py
  src/certificate.py
Due: test-i18n-keys

Unused import
  doc/generate_api_doc.py
Due: none

[CI] Reformat / remove stale translated strings
  locales/ar.json
  locales/en.json
  locales/fr.json
  locales/gl.json
  locales/tr.json
Due: test-i18n-keys, autofix-translated-strings

Fixes $app unbound when running ynh_secure_remove
  helpers/utils
Due: test-helpers

appv2: safety-backup-before-upgrade should only contain the app
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

appv2: fix env not including vars for v1->v2 upgrade
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

appv2: resource upgrade will tweak settings, we have to re-update the env_dict after upgrading resources
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

log/appv2: don't dump all settings in log metadata
  src/log.py
Due: test-i18n-keys

Translated using Weblate (Polish)
  locales/pl.json
Due: autofix-translated-strings

Update changelog for 11.1.5.1
  debian/changelog
Due: none

[CI] Format code with Black
  src/app.py
  src/log.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

[CI] Reformat / remove stale translated strings
  locales/ar.json
  locales/en.json
  locales/fr.json
  locales/pl.json
Due: test-i18n-keys, autofix-translated-strings

ci: tweak rules for Black and translation fixes because that's really too much flood x_x
  .gitlab/ci/lint.gitlab-ci.yml
  .gitlab/ci/translation.gitlab-ci.yml
Due: none

helpers: fix remaining __FINALPATH__ in php template (note that this is backward compatible because ynh_add_config will replace __INSTALL_DIR__ by $finalpath if $finalpath exists...
  helpers/php
Due: test-helpers

Update changelog for 11.1.5.2
  debian/changelog
Due: none

helpers/appsv2: replacement of __PHPVERSION__ should use the phpversion setting, not YNH_PHP_VERSION
  helpers/utils
Due: test-helpers

appv2 resources: document the fact that the apt resource may create a phpversion setting when the dependencies contain php packages
  src/utils/resources.py
Due: none

Update changelog for 11.1.5.3
  debian/changelog
Due: none

Fix workdir variable for package v.2
  helpers/php
Due: test-helpers

Fix spacing
  src/utils/resources.py
Due: none

appv2: typo in ports resource doc x_x
  src/utils/resources.py
Due: none

appsv2: fix permission provisioning for fulldomain apps + fix apps not properly getting removed after failed resources init
  src/app.py
  src/utils/resources.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

Update changelog for 11.1.5.4
  debian/changelog
Due: none

appsv2: ignore the old/ugly/legacy removal of apt deps when removing the php conf, because that's handled by the apt resource
  helpers/php
Due: test-helpers

admin->admins migration: try to handle boring case where the 'first' user cant be identified because it doesnt have the root@ alias
  src/migrations/0026_new_admins_group.py
Due: none

appsv2: moar fixes for v1->v2 upgrade not getting the proper env context
  src/utils/resources.py
Due: none

Update changelog for 11.1.5.5
  debian/changelog
Due: none

Path conditions:
  test-actionmap: any of: share/actionsmap.yml
  test-helpers: any of: helpers/*
  test-domains: any of: src/domain.py
  test-dns: any of: src/dns.py, src/utils/dns.py
  test-apps: any of: src/app.py
  test-appscatalog: any of: src/app_calalog.py
  test-appurl: any of: src/app.py
  test-questions: any of: src/utils/config.py
  test-app-config: any of: src/app.py, src/utils/config.py
  test-changeurl: any of: src/app.py
  test-backuprestore: any of: src/backup.py
  test-permission: any of: src/permission.py
  test-settings: any of: src/settings.py
  test-user-group: any of: src/user.py
  test-regenconf: any of: src/regenconf.py
  test-service: any of: src/service.py
  test-ldapauth: any of: src/authenticators/*.py
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py
  autofix-translated-strings: any of: locales/*
