Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-actionmap, test-helpers, test-domains, test-dns, test-apps, test-appscatalog, test-appurl, test-questions, test-app-config, test-changeurl, test-backuprestore, test-permission, test-settings, test-user-group, test-regenconf, test-service, test-ldapauth, test-i18n-keys, autofix-translated-strings

Path conditions:
  test-actionmap: any of: share/actionsmap.yml
  test-helpers: any of: helpers/*
  test-domains: any of: src/domain.py
  test-dns: any of: src/dns.py, src/utils/dns.py
  test-apps: any of: src/app.py
  test-appscatalog: any of: src/app_calalog.py
  test-appurl: any of: src/app.py
  test-questions: any of: src/utils/config.py
  test-app-config: any of: src/app.py, src/utils/config.py
  test-changeurl: any of: src/app.py
  test-backuprestore: any of: src/backup.py
  test-permission: any of: src/permission.py
  test-settings: any of: src/settings.py
  test-user-group: any of: src/user.py
  test-regenconf: any of: src/regenconf.py
  test-service: any of: src/service.py
  test-ldapauth: any of: src/authenticators/*.py
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py
  autofix-translated-strings: any of: locales/*

apps: simplify the redaction of change_url scripts by adding a new ynh_change_url_nginx_config helper + predefining new/old/change domain/path variables
  helpers/nginx
  locales/en.json
  src/app.py
Due: test-helpers, test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys, autofix-translated-strings

log: Previous trick about getting rid of setting didnt work, forgot to use metadata instead of self.metadata
  src/log.py
Due: test-i18n-keys

Semantic
  src/app.py
  src/utils/resources.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

appsv2: revert commit that adds a bunch of warning about apt/database consistency, it's more relevant to have them in package linter instead
  src/utils/resources.py
Due: none

appsv2: zblerg I inadvertendly removed the line that update the user group x_x
  src/utils/resources.py
Due: none

Update changelog for 11.1.9
  debian/changelog
Due: none

[CI] Format code with Black
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

apps: Fix edge case in change_url where old_nginx_conf_backup could be None
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

ci: attempt to fix the "coverage: not set up" thingy
  .gitlab/ci/test.gitlab-ci.yml
Due: none

apps: add 'YNH_DEBIAN_VERSION' variable in apps contexts
  src/app.py
  src/utils/system.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

appsv2: add support for a packages_from_raw_bash option in apt where one can add a multiline bash snippet to echo packages
  src/utils/resources.py
Due: none

appsv2: fix resource provisioning scripts picking up already-closed operation logger, resulting in confusing debugging output
  src/utils/resources.py
Due: none

appsv2: fix reload_only_if_change option not working as expected, resulting in incorrect 'Firewall reloaded' messages
  src/firewall.py
Due: test-i18n-keys

add pydantic form and options
  src/utils/form.py
Due: none

add config panel model and impl
  src/utils/configpanel.py
Due: none

appsv2: fix check that postgresql db exists...
  src/utils/resources.py
Due: none

update app.py to new config panel
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

ci: hmf try to understand what that 're2 syntax' gitlab is talking about is
  .gitlab/ci/test.gitlab-ci.yml
Due: none

update settings.py to new config panel
  share/actionsmap.yml
  share/config_global.toml
  src/settings.py
Due: test-actionmap, test-settings, test-i18n-keys

update domain.py to new config panel
  share/config_domain.toml
  src/app.py
  src/dns.py
  src/domain.py
Due: test-domains, test-dns, test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

form: add prompt/fill generic function for simple list of options
  src/utils/form.py
Due: none

app_install: use new generic prompt/fill for install questions
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

Update changelog for 11.1.10
  debian/changelog
Due: none

swag: update README badges
  README.md
Due: none

Remove .lgtm.yml, the service doesnt exists anymore :|
  .lgtm.yml
Due: none

ci: zblerg, try to fix the coverage thingy computing coverage on test and vendor files x_x
  .coveragerc
  .gitlab/ci/test.gitlab-ci.yml
Due: none

[CI] Format code with Black
  src/firewall.py
  src/utils/resources.py
Due: test-i18n-keys

regenconf: Add a new ssh security setting to hide the banner
  conf/ssh/sshd_config
  hooks/conf_regen/03-ssh
  share/config_global.toml
Due: none

Pass errors='replace' to open command
  src/service.py
Due: test-service, test-i18n-keys

[fix] dovecot-pop3d is never installed
  src/settings.py
Due: test-settings, test-i18n-keys

appsv2: data_dir's owner should have rwx by default
  src/utils/resources.py
Due: none

appsv2: fix usage of __DOMAIN__ in permission url
  src/utils/resources.py
Due: none

Make the linters god happy...
  src/settings.py
Due: test-settings, test-i18n-keys

Update changelog for 11.1.11
  debian/changelog
Due: none

[CI] Format code with Black
  src/service.py
  src/utils/resources.py
Due: test-service, test-i18n-keys

appsv2: fix previous commit about __DOMAIN__ because url may be None x_x
  src/utils/resources.py
Due: none

Update changelog for 11.1.11.1
  debian/changelog
Due: none

feat: add '--continue-on-failure' to 'yunohost app upgrade
  locales/en.json
  share/actionsmap.yml
  src/app.py
  src/tests/test_apps.py
Due: test-actionmap, test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys, autofix-translated-strings

[Fixes 2158] Create parent dirs when provisioning install_dir
  src/utils/resources.py
Due: none

Update changelog for 11.1.11.2
  debian/changelog
Due: none
