Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-actionmap, test-helpers, test-domains, test-dns, test-apps, test-appscatalog, test-appurl, test-questions, test-app-config, test-changeurl, test-backuprestore, test-permission, test-settings, test-user-group, test-regenconf, test-service, test-ldapauth, test-i18n-keys, autofix-translated-strings

Path conditions:
  test-actionmap: any of: share/actionsmap.yml
  test-helpers: any of: helpers/*
  test-domains: any of: src/domain.py
  test-dns: any of: src/dns.py, src/utils/dns.py
  test-apps: any of: src/app.py
  test-appscatalog: any of: src/app_calalog.py
  test-appurl: any of: src/app.py
  test-questions: any of: src/utils/config.py
  test-app-config: any of: src/app.py, src/utils/config.py
  test-changeurl: any of: src/app.py
  test-backuprestore: any of: src/backup.py
  test-permission: any of: src/permission.py
  test-settings: any of: src/settings.py
  test-user-group: any of: src/user.py
  test-regenconf: any of: src/regenconf.py
  test-service: any of: src/service.py
  test-ldapauth: any of: src/authenticators/*.py
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py
  autofix-translated-strings: any of: locales/*

[enh] exclude .well-known subpaths from conflict checks
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

Translated using Weblate (Basque)
  locales/eu.json
Due: autofix-translated-strings

form: rename text_cli_* to _get_prompt_message + message
  src/utils/form.py
Due: none

form: remove hooks from Option's attrs
  src/utils/form.py
Due: none

form: separate BaseOption into BaseReadonlyOption + BaseInputOption
  src/tests/test_questions.py
  src/utils/form.py
Due: none

form: rename ARGUMENTS_TYPE_PARSERS to OPTIONS
  src/tests/test_questions.py
  src/utils/configpanel.py
  src/utils/form.py
Due: none

form: rename _prevalidate() to _value_pre_validator() + _post_parse_value() to _value_post_validator()
  src/utils/form.py
Due: none

configpanel: reorder ConfigPanel methods
  src/app.py
  src/domain.py
  src/settings.py
  src/utils/configpanel.py
Due: test-domains, test-apps, test-appurl, test-app-config, test-changeurl, test-settings, test-i18n-keys

form: move option asking+prompt in external function
  src/tests/test_questions.py
  src/utils/form.py
Due: none

form: reorder Options
  src/utils/form.py
Due: none

form: fix readonly prompting + + choices + tests
  src/tests/test_questions.py
  src/utils/configpanel.py
  src/utils/form.py
Due: none

configpanel: rename data methods
  src/app.py
  src/domain.py
  src/settings.py
  src/utils/configpanel.py
Due: test-domains, test-apps, test-appurl, test-app-config, test-changeurl, test-settings, test-i18n-keys

rename Option.name to Option.id
  src/app.py
  src/tests/test_questions.py
  src/utils/configpanel.py
  src/utils/form.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

form: restrict filter to AppOption
  src/utils/form.py
Due: none

form: add fancy separators
  src/utils/form.py
Due: none

form: reorder Option methods
  src/utils/form.py
Due: none

form: use Enum for Option's type
  src/utils/configpanel.py
  src/utils/form.py
Due: none

form: restrict choices to select, tags, domain, app, user + group
  src/tests/test_questions.py
  src/utils/form.py
Due: none

form: rename Questions to Options
  src/app.py
  src/domain.py
  src/settings.py
  src/tests/test_questions.py
  src/utils/configpanel.py
  src/utils/form.py
Due: test-domains, test-apps, test-appurl, test-app-config, test-changeurl, test-settings, test-i18n-keys

configpanel: fix choices
  src/utils/configpanel.py
Due: none

form+configpanel: sort imports
  src/utils/configpanel.py
  src/utils/form.py
Due: none

Add certificate as postinstall tip
  locales/en.json
Due: test-i18n-keys, autofix-translated-strings

Translated using Weblate (Arabic)
  locales/ar.json
Due: autofix-translated-strings

Translated using Weblate (Indonesian)
  locales/id.json
Due: autofix-translated-strings

[CI] Reformat / remove stale translated strings
  locales/ar.json
  locales/eu.json
  locales/fr.json
  locales/gl.json
  locales/id.json
Due: autofix-translated-strings

Upgrade n to v
  helpers/vendor/n/n
Due: none

appsv2: in perm resource, fix handling of additional urls containing vars to replace
  src/utils/resources.py
Due: none

form: force option type to 'select' if there's 'choices' + add test
  src/tests/test_questions.py
  src/utils/form.py
Due: none

form: use pydantic BaseModel in Options and add some validators
  src/utils/form.py
Due: none

form: update asking flow, separate form and options
  src/tests/test_questions.py
  src/utils/form.py
Due: none

config: normalize get option value
  src/utils/configpanel.py
Due: none

app: update app_install
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

configpanel: add config panel models
  src/utils/configpanel.py
Due: none

config: rework get method
  src/domain.py
  src/settings.py
  src/utils/configpanel.py
Due: test-domains, test-settings, test-i18n-keys

config: update SettingsConfigPanel.reset
  src/settings.py
Due: test-settings, test-i18n-keys

form: cli retries as variable to be patched in tests
  src/tests/test_questions.py
  src/utils/form.py
Due: none

configpanel: update _reload_services
  src/utils/configpanel.py
Due: none

form: add dynamic annotation getters
  src/utils/form.py
Due: none

form: rework context/values/hooks in prompt_or_validate_form
  src/utils/form.py
Due: none
