Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-i18n-keys, test-translation-format-consistency, test-actionmap, test-helpers, test-domains, test-dns, test-apps, test-appscatalog, test-appurl, test-questions, test-app-config, test-changeurl, test-backuprestore, test-permission, test-settings, test-user-group, test-regenconf, test-service, test-ldapauth, autofix-translated-strings

test-i18n-keys:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-translation-format-consistency:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-actionmap:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-helpers:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-domains:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-dns:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-apps:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-appscatalog:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

autofix-translated-strings:
  stage: translation
  image: before-install
  needs: []
  before_script:
  - apt-get update -y && apt-get install git hub -y
  - git config --global user.email "yunohost@yunohost.org"
  - git config --global user.name "$GITHUB_USER"
  ...

Translated using Weblate (Galician)
  locales/gl.json
Due: test-translation-format-consistency, autofix-translated-strings

configpanels: config_get should return possible choices for domain, user questions (and other dynamic-choices questions)
  src/utils/config.py
Due: none

Fix tests
  src/tests/test_app_config.py
Due: none

Fixes /o\
  src/migrations/0021_migrate_to_bullseye.py
Due: none

app questions in config panel: handle choices with nice display names for webadmin
  src/utils/config.py
Due: none

[CI] Format code with Black
  src/app.py
  src/diagnosis.py
  src/domain.py
  src/utils/config.py
  src/utils/legacy.py
Due: test-i18n-keys

[fix] When no main app permission found, fallback to default label instead of having a 'None' label to prevent the webadmin from displaying an empty app list
  src/app.py
Due: test-i18n-keys

Update changelog for 11.0.3
  debian/changelog
Due: none

fix bash_completion
  debian/install
  doc/generate_bash_completion.py
Due: none

[mod] certificate: drop unused 'staging' LE mode
  share/actionsmap.yml
  src/certificate.py
  src/domain.py
Due: test-i18n-keys

Enhance yunomdns service startup
  conf/mdns/yunomdns.service
Due: none

Fix typo
  locales/en.json
Due: test-i18n-keys, test-translation-format-consistency, autofix-translated-strings

typos
  src/utils/config.py
Due: none

Hydrate manifest with choices
  src/app.py
  src/utils/config.py
Due: test-i18n-keys

app resources: Support several ports
  src/tests/test_app_resources.py
  src/utils/resources.py
Due: none

manifestv2: misc fixes + add test for manifestv2 install
  src/app.py
  src/tests/test_apps.py
  src/utils/resources.py
Due: test-i18n-keys

tools_upgrade: raise a Yunohost error, not a raw exception, when misusing args
  src/tools.py
Due: test-i18n-keys

Added translation using Weblate (Danish)
  locales/da.json
Due: test-translation-format-consistency, autofix-translated-strings

Translated using Weblate (French)
  locales/fr.json
Due: test-translation-format-consistency, autofix-translated-strings

Translated using Weblate (Ukrainian)
  locales/uk.json
Due: test-translation-format-consistency, autofix-translated-strings

regenconf: make some systemctl enable/disable quiet
  hooks/conf_regen/01-yunohost
  hooks/conf_regen/37-mdns
Due: none

regenconf: make some systemctl enable/disable quiet²
  hooks/conf_regen/37-mdns
Due: none

Tmp fix to try to debug the CI @_@
  src/domain.py
Due: test-i18n-keys

Moar tmp tweaks to try to debug the CI
  src/domain.py
Due: test-i18n-keys

configpanels: optimize _get_toml for domains to not load the whole DNS section stuff when just getting a simple info from another section
  src/domain.py
Due: test-i18n-keys

Revert "Moar tmp tweaks to try to debug the CI"
  src/domain.py
Due: test-i18n-keys

Revert "Tmp fix to try to debug the CI @_@"
  src/domain.py
Due: test-i18n-keys

Typo: self.hasattr is not a thing /o\
  src/domain.py
Due: test-i18n-keys

Aaand hasattr not working as expected
  src/domain.py
Due: test-i18n-keys

[CI] Format code with Black
  src/app.py
  src/certificate.py
  src/domain.py
  src/utils/config.py
Due: test-i18n-keys

configpanel: oopsies, super()._apply() was only called when changing the default app :P
  src/domain.py
Due: test-i18n-keys

php73_to_php74: stopping php7.3 before starting 7.4 should be more robust in case confs are conflicting
  src/migrations/0022_php73_to_php74_pools.py
Due: none

php73_to_php74: another search&replace for synapse
  src/migrations/0022_php73_to_php74_pools.py
Due: none

Update changelof for 11.0.4
  debian/changelog
Due: none

configpanel: filter as a simple_js_expression
  share/config_domain.toml
  src/utils/config.py
Due: none

set default filter to always return true
  src/utils/config.py
Due: none

[CI] Format code with Black
  src/diagnosers/50-systemresources.py
  src/migrations/0021_migrate_to_bullseye.py
  src/tools.py
  src/utils/config.py
Due: test-i18n-keys

Removes nginx Content-Security-Policy overrides
  conf/nginx/security.conf.inc
Due: none

security: Enable proc-hidepid by default
  hooks/conf_regen/01-yunohost
Due: none

helpers: missing ynh_requirement definition
  helpers/utils
Due: none

Path conditions:
  test-i18n-keys: (any of: locales/en.json, src/yunohost/*.py, data/hooks/diagnosis/*.py) or (any of: locales/en.json, src/*.py, src/diagnosers/*.py)
  test-translation-format-consistency: any of: locales/*
  test-actionmap: any of: data/actionsmap/*.yml
  test-helpers: any of: data/helpers.d/*
  test-domains: any of: src/yunohost/domain.py
  test-dns: any of: src/yunohost/dns.py, src/yunohost/utils/dns.py
  test-apps: any of: src/yunohost/app.py
  test-appscatalog: any of: src/yunohost/app_calalog.py
  test-appurl: any of: src/yunohost/app.py
  test-questions: any of: src/yunohost/utils/config.py
  test-app-config: any of: src/yunohost/app.py, src/yunohost/utils/config.py
  test-changeurl: any of: src/yunohost/app.py
  test-backuprestore: any of: src/yunohost/backup.py
  test-permission: any of: src/yunohost/permission.py
  test-settings: any of: src/yunohost/settings.py
  test-user-group: any of: src/yunohost/user.py
  test-regenconf: any of: src/yunohost/regenconf.py
  test-service: any of: src/yunohost/service.py
  test-ldapauth: any of: src/yunohost/authenticators/*.py
  autofix-translated-strings: any of: locales/*
