Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-actionmap, test-helpers, test-domains, test-dns, test-apps, test-appscatalog, test-appurl, test-questions, test-app-config, test-changeurl, test-backuprestore, test-permission, test-settings, test-user-group, test-regenconf, test-service, test-ldapauth, test-i18n-keys, autofix-translated-strings

Path conditions:
  test-actionmap: any of: share/actionsmap.yml
  test-helpers: any of: helpers/*
  test-domains: any of: src/domain.py
  test-dns: any of: src/dns.py, src/utils/dns.py
  test-apps: any of: src/app.py
  test-appscatalog: any of: src/app_calalog.py
  test-appurl: any of: src/app.py
  test-questions: any of: src/utils/config.py
  test-app-config: any of: src/app.py, src/utils/config.py
  test-changeurl: any of: src/app.py
  test-backuprestore: any of: src/backup.py
  test-permission: any of: src/permission.py
  test-settings: any of: src/settings.py
  test-user-group: any of: src/user.py
  test-regenconf: any of: src/regenconf.py
  test-service: any of: src/service.py
  test-ldapauth: any of: src/authenticators/*.py
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py
  autofix-translated-strings: any of: locales/*

Unecessary pass statement
  src/utils/resources.py
Due: none

Forgot to remove pdb D:
  src/utils/resources.py
Due: none

Typo
  src/utils/resources.py
Due: none

appsv2/sources: i18n
  locales/en.json
  src/utils/resources.py
Due: test-i18n-keys, autofix-translated-strings

appsv2/sources: Reflect changes in ynh_setup_source doc
  helpers/utils
Due: test-helpers

Translated using Weblate (Arabic)
  locales/ar.json
Due: autofix-translated-strings

Translated using Weblate (Ukrainian)
  locales/uk.json
Due: autofix-translated-strings

Translated using Weblate (Polish)
  locales/pl.json
Due: autofix-translated-strings

Update changelog for 11.1.14
  debian/changelog
Due: none

[CI] Format code with Black
  src/app.py
  src/utils/resources.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

[CI] Reformat / remove stale translated strings
  locales/ar.json
  locales/de.json
  locales/en.json
  locales/fr.json
  locales/gl.json
  locales/oc.json
  locales/pl.json
  locales/uk.json
Due: test-i18n-keys, autofix-translated-strings

Translated using Weblate (French)
  locales/fr.json
Due: autofix-translated-strings

Bash being bash ~_~
  helpers/logging
Due: test-helpers

helpers: Fix documentation for ynh_setup_source
  helpers/utils
Due: test-helpers

doc: Fix version number in autogenerated resource doc
  doc/generate_resource_doc.py
Due: none

helpers/nodejs: simplify 'n' script install and maintenance
  .github/workflows/n_updater.sh
  .github/workflows/n_updater.yml
  helpers/nodejs
  helpers/vendor/n/LICENSE
  helpers/vendor/n/README.md
  helpers/vendor/n/n
Due: test-helpers

helpers: fix ynh_setup_source, 'source_id' may contain slashes x_x
  helpers/utils
Due: test-helpers

Update changelog for 11.1.15
  debian/changelog
Due: none

backup: fix boring issue where archive is a broken symlink...
  src/backup.py
Due: test-backuprestore, test-i18n-keys

helpers/appsv2: don't remove yhh-deps virtual package if ... it doesn't exist. Otherwise when apt fails to install dependency, we end up with another error about failing to remove the ynh-deps package
  helpers/apt
Due: test-helpers

appsv2: add validation for expected types for permissions stuff
  src/utils/resources.py
Due: none

POC to add a route to fetch what's the current running action, cf plans to improve the webadmin UX
  share/actionsmap.yml
  src/log.py
Due: test-actionmap, test-i18n-keys

ynh_setup_source: fix buggy checksum mismatch handling, can't compute the sha256sum after we delete the file @_@
  helpers/utils
Due: test-helpers

options:tests: add base class Test
  src/tests/test_questions.py
Due: none

options:tests: replace some string tests
  src/tests/test_questions.py
Due: none

options:tests: replace some password tests
  src/tests/test_questions.py
Due: none

options:tests: replace path tests
  src/tests/test_questions.py
Due: none

options:tests: replace boolean tests
  src/tests/test_questions.py
Due: none

options:tests: replace domain tests
  src/tests/test_questions.py
Due: none

options:tests: replace user tests
  src/tests/test_questions.py
Due: none

options:tests: replace number tests
  src/tests/test_questions.py
Due: none

options:tests: replace display_text tests
  src/tests/test_questions.py
Due: none

options:tests: replace file tests
  src/tests/test_questions.py
Due: none

options:tests: add missing types tests
  src/tests/test_questions.py
Due: none

options: misc option quick fixes
  src/tests/test_questions.py
  src/utils/config.py
Due: test-questions, test-app-config

fix i18n panel+section names
  src/utils/config.py
Due: test-questions, test-app-config

[DEL] remove args parameter from actionsmap
  share/actionsmap.yml
Due: test-actionmap

appsv2: Add documentation about the new 'autoupdate' mechanism for app sources
  src/utils/resources.py
Due: none
