Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-actionmap, test-helpers, test-domains, test-dns, test-apps, test-appscatalog, test-appurl, test-questions, test-app-config, test-changeurl, test-backuprestore, test-permission, test-settings, test-user-group, test-regenconf, test-service, test-ldapauth, test-i18n-keys, autofix-translated-strings

Path conditions:
  test-actionmap: any of: share/actionsmap.yml
  test-helpers: any of: helpers/*
  test-domains: any of: src/domain.py
  test-dns: any of: src/dns.py, src/utils/dns.py
  test-apps: any of: src/app.py
  test-appscatalog: any of: src/app_calalog.py
  test-appurl: any of: src/app.py
  test-questions: any of: src/utils/config.py
  test-app-config: any of: src/app.py, src/utils/config.py
  test-changeurl: any of: src/app.py
  test-backuprestore: any of: src/backup.py
  test-permission: any of: src/permission.py
  test-settings: any of: src/settings.py
  test-user-group: any of: src/user.py
  test-regenconf: any of: src/regenconf.py
  test-service: any of: src/service.py
  test-ldapauth: any of: src/authenticators/*.py
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py
  autofix-translated-strings: any of: locales/*

Translated using Weblate (French)
  locales/fr.json
Due: autofix-translated-strings

Translated using Weblate (Chinese (Simplified))
  locales/zh_Hans.json
Due: autofix-translated-strings

Translated using Weblate (German)
  locales/de.json
Due: autofix-translated-strings

Translated using Weblate (Ukrainian)
  locales/uk.json
Due: autofix-translated-strings

Translated using Weblate (Galician)
  locales/gl.json
Due: autofix-translated-strings

Translated using Weblate (Dutch)
  locales/nl.json
Due: autofix-translated-strings

legacy: auto-patch yunohost user create syntax in app scripts to use --fullname instead
  src/utils/legacy.py
Due: none

Update changelog for 11.1.1
  debian/changelog
Due: none

Fix again the legacy patch for yunohost user create @_@
  src/utils/legacy.py
Due: none

Update changelog for 11.1.1.1
  debian/changelog
Due: none

group mailalias: the ldap class is in fact mailGroup, not mailAccount -_-
  src/user.py
Due: test-user-group, test-i18n-keys

Update changelog for 11.1.1.2
  debian/changelog
Due: none

rename 'check' boolean to 'passed'
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

add some comments
  src/app.py
  src/app_catalog.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

normalize _extract_app_from_* manifest keys
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

improve version check & rename check key
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

skip confirmation if ran from CLI in a non-interactive context
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

add --with-screenshot option for app_manifest + rename 'image' key to 'screenshot'
  share/actionsmap.yml
  src/app.py
Due: test-actionmap, test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

move tools_update check for notif in _list_upgradable_apps helper
  src/app.py
  src/tools.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

app_upgrade return post_install notif to API
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

[CI] Format code with Black
  src/certificate.py
Due: test-i18n-keys

Add a global setting to choose SSOwat's theme
  locales/en.json
  share/config_global.toml
  src/app.py
  src/settings.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-settings, test-i18n-keys, autofix-translated-strings

[fix] hotspot config panel fails in webadmin
  src/utils/config.py
Due: test-questions, test-app-config

[fix] Visible app condition not properly evaluate
  src/utils/config.py
Due: test-questions, test-app-config

Clarify the thing about current_value vs value
  src/utils/config.py
Due: test-questions, test-app-config

[CI] Format code with Black
  src/utils/config.py
Due: test-questions, test-app-config

Add a virtual setting to enable passwordless sudo for admins
  locales/en.json
  share/config_global.toml
  src/settings.py
Due: test-settings, test-i18n-keys, autofix-translated-strings

portal theme setting: missing hook to regen ssowatconf when changing value
  src/settings.py
Due: test-settings, test-i18n-keys

Translated using Weblate (Spanish)
  locales/es.json
Due: autofix-translated-strings

Translated using Weblate (Basque)
  locales/eu.json
Due: autofix-translated-strings

appv2: for app v1 backward compat, don't set arbitrary values for ram/disk usage, use '?' instead
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

domain config: add help text for default webapp
  share/config_domain.toml
Due: none
