Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-actionmap, test-helpers, test-domains, test-dns, test-apps, test-appscatalog, test-appurl, test-questions, test-app-config, test-changeurl, test-backuprestore, test-permission, test-settings, test-user-group, test-regenconf, test-service, test-ldapauth, test-i18n-keys, autofix-translated-strings

Path conditions:
  test-actionmap: any of: share/actionsmap.yml
  test-helpers: any of: helpers/*
  test-domains: any of: src/domain.py
  test-dns: any of: src/dns.py, src/utils/dns.py
  test-apps: any of: src/app.py
  test-appscatalog: any of: src/app_calalog.py
  test-appurl: any of: src/app.py
  test-questions: any of: src/utils/config.py
  test-app-config: any of: src/app.py, src/utils/config.py
  test-changeurl: any of: src/app.py
  test-backuprestore: any of: src/backup.py
  test-permission: any of: src/permission.py
  test-settings: any of: src/settings.py
  test-user-group: any of: src/user.py
  test-regenconf: any of: src/regenconf.py
  test-service: any of: src/service.py
  test-ldapauth: any of: src/authenticators/*.py
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py
  autofix-translated-strings: any of: locales/*

fix issue 2177
  src/utils/system.py
Due: none

app resources: add documentation about latest_github_commit strategy for source autoupdate + autoupdate.upstream
  src/utils/resources.py
Due: none

appv2: add support for subdirs property in data_dir
  src/utils/resources.py
Due: none

users: fix quota parsing being wrong by a factor 1000 ... doveadm returns kilos, not bytes
  src/user.py
Due: test-user-group, test-i18n-keys

appsv2: various fixes regarding sources toml parsing/caching
  helpers/utils
Due: test-helpers

Update changelog for 11.1.16
  debian/changelog
Due: none

[CI] Format code with Black
  src/utils/config.py
  src/utils/resources.py
Due: test-questions, test-app-config

Fix autodns for gandi root domain
  src/dns.py
Due: test-dns, test-i18n-keys

Typo
  src/dns.py
Due: test-dns, test-i18n-keys

Misc syntax
  src/utils/config.py
Due: test-questions, test-app-config

mv config.py to form.py
  src/utils/form.py
Due: none

remove ConfigPanel code from form.py
  src/utils/form.py
Due: none

mv config.py to configpanel.py
  src/utils/configpanel.py
Due: none

remove form related code from configpanel.py
  src/utils/configpanel.py
Due: none

helpers: fix previous change about using YNH_APP_ACTION ... which is not defined in config panel context
  helpers/utils
Due: test-helpers

fix configpanel.py and form.py imports
  src/app.py
  src/domain.py
  src/settings.py
  src/tests/test_questions.py
  src/utils/configpanel.py
Due: test-domains, test-apps, test-appurl, test-app-config, test-changeurl, test-settings, test-i18n-keys

appsv2: for the dir/subdirs of data_dir, create parent folders if they don't exist
  src/utils/resources.py
Due: none

Update changelog for 11.1.17
  debian/changelog
Due: none

[CI] Format code with Black
  src/utils/form.py
Due: none

Add support for Porkbun through Lexicon
  share/registrar_list.toml
Due: none

Support variables in permissions declaration
  src/utils/resources.py
Due: none

Ooops
  src/utils/resources.py
Due: none

Translated using Weblate (Basque)
  locales/eu.json
Due: autofix-translated-strings

Translated using Weblate (Galician)
  locales/gl.json
Due: autofix-translated-strings

appsv2: fix edge-case when validating packager-provided infos for permissions resource
  src/utils/resources.py
Due: none

appsv2: simplify code to hydrate url/additional_urls with app settings
  src/utils/resources.py
Due: none

dydns-password-recovery -> dyndns-recovery-password
  share/actionsmap.yml
  src/domain.py
  src/tests/test_domains.py
  src/tools.py
Due: test-actionmap, test-domains, test-i18n-keys

dyndns: Misc semantic tweaks...
  locales/en.json
  share/actionsmap.yml
  src/domain.py
  src/dyndns.py
  src/tools.py
Due: test-actionmap, test-domains, test-i18n-keys, autofix-translated-strings

dyndns: revert changes regarding auto-push ... it's not complete, and the PR about dyndns recovery password is already too complex...
  hooks/conf_regen/01-yunohost
  locales/ca.json
  locales/de.json
  locales/en.json
  locales/es.json
  locales/eu.json
  locales/fa.json
  locales/fr.json
  locales/gl.json
  locales/it.json
  locales/uk.json
  locales/zh_Hans.json
  share/actionsmap.yml
  share/config_domain.toml
  src/dns.py
  src/domain.py
  src/dyndns.py
  src/tools.py
Due: test-actionmap, test-domains, test-dns, test-i18n-keys, autofix-translated-strings

dyndns: various tweaks to simplify the code, improve UX ...
  locales/en.json
  share/actionsmap.yml
  src/domain.py
  src/dyndns.py
  src/tools.py
Due: test-actionmap, test-domains, test-i18n-keys, autofix-translated-strings

dyndns: be able to unsubscribe using the key + domain and i18n string consistency
  locales/en.json
  share/actionsmap.yml
  src/dyndns.py
Due: test-actionmap, test-i18n-keys, autofix-translated-strings

dyndns: remove this 'comment' thing from the actionsmap, it's being displayed even for non-dyndns domains...
  locales/en.json
  share/actionsmap.yml
Due: test-actionmap, test-i18n-keys, autofix-translated-strings

dyndns: add a 'set-recovery-password' command to set the recovery password using only the key
  locales/en.json
  share/actionsmap.yml
  src/domain.py
  src/dyndns.py
Due: test-actionmap, test-domains, test-i18n-keys, autofix-translated-strings

Set out-of-catalog, broken, bad quality apps diagnosis as warnings
  src/diagnosers/80-apps.py
Due: test-i18n-keys

User .ssh directory should be executable
  src/ssh.py
Due: test-i18n-keys

Do not run CodeQL for tests
  .github/workflows/codeql.yml
Due: none

[enh] app id in settings
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

Update changelog for 11.1.18
  debian/changelog
Due: none
