Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-i18n-keys, test-translation-format-consistency, test-actionmap, test-helpers, test-domains, test-dns, test-apps, test-appscatalog, test-appurl, test-questions, test-app-config, test-changeurl, test-backuprestore, test-permission, test-settings, test-user-group, test-regenconf, test-service, test-ldapauth, autofix-translated-strings

test-i18n-keys:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-translation-format-consistency:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-actionmap:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-helpers:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-domains:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-dns:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-apps:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-appscatalog:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

autofix-translated-strings:
  stage: translation
  image: before-install
  needs: []
  before_script:
  - apt-get update -y && apt-get install git hub -y
  - git config --global user.email "yunohost@yunohost.org"
  - git config --global user.name "$GITHUB_USER"
  ...

app resources: Yoloimplement support for db resources
  src/utils/resources.py
Due: none

app resources: Yoloimplement some tests for each resources
  src/tests/test_app_resources.py
  src/utils/resources.py
Due: none

[fix] helpers apt: Remove boring message about 'file.asc' wasnt deleted because it doesnt exists
  helpers/apt
Due: none

appresources: fixes /o\
  src/tests/test_app_resources.py
  src/utils/resources.py
Due: none

migrate_to_bullseye: Try to tell the system to not yolorestart nginx in the middle of the big upgrade because of nginx-common...
  src/yunohost/data_migrations/0021_migrate_to_bullseye.py
Due: none

typo, in bash return is only inside functions...
  src/yunohost/data_migrations/0021_migrate_to_bullseye.py
Due: none

hmpf
  src/yunohost/data_migrations/0021_migrate_to_bullseye.py
Due: none

Moar boring apt warnings to filter
  src/yunohost/tools.py
Due: test-i18n-keys

fix ynh_install_app_dependencies when an app change his default phpversion
  data/helpers.d/apt
Due: test-helpers

migrate_to_bullseye: add super ugly and boring hack to tools_upgrade to run some commands needed after migrations é_è
  src/yunohost/data_migrations/0021_migrate_to_bullseye.py
  src/yunohost/tools.py
Due: test-i18n-keys

dyndns: fix dyndns_update, needs to construct the update object using the target zone, not the domain itself
  src/dyndns.py
Due: test-i18n-keys

certificates: fix edge case where None is returned, triggering 'NoneType has no attribute get'
  src/yunohost/certificate.py
Due: test-i18n-keys

typoe / Aaaand ofc I forgot to pass the var as argument ∕o\
  src/yunohost/data_migrations/0021_migrate_to_bullseye.py
Due: none

Translated using Weblate (German)
  locales/de.json
Due: test-translation-format-consistency, autofix-translated-strings

[CI] Format code with Black
  src/yunohost/data_migrations/0021_migrate_to_bullseye.py
  src/yunohost/tools.py
Due: test-i18n-keys

postgresql migration: Attempt to fix cluster upgrade, complaining that cluster for 13 already existed, suspecting a race condition maybe
  src/migrations/0023_postgresql_11_to_13.py
Due: none

Tmp remove bullseye migration for stable release
  src/yunohost/data_migrations/0021_migrate_to_bullseye.py
Due: none

Update changelog for 4.3.6.1
  debian/changelog
Due: none

apt helpers: fix bug when var is empty...
  data/helpers.d/apt
Due: test-helpers

Update changelog for 4.3.6.2
  debian/changelog
Due: none

Revert "Tmp remove bullseye migration for stable release"
  src/yunohost/data_migrations/0021_migrate_to_bullseye.py
Due: none

migrate_to_bullseye: tweaks to point to the current beta-testing forum thread
  src/yunohost/app.py
  src/yunohost/data_migrations/0021_migrate_to_bullseye.py
Due: test-i18n-keys, test-apps, test-appurl, test-app-config, test-changeurl

Update changelog for 4.4.0
  debian/changelog
Due: none

Update changelog for 11.0.2
  debian/changelog
Due: none

[enh] Manage default applications with DomainConfigPanel
  locales/en.json
  share/actionsmap.yml
  share/config_domain.toml
  src/app.py
  src/domain.py
  src/utils/config.py
  src/utils/legacy.py
Due: test-i18n-keys, test-translation-format-consistency, autofix-translated-strings

[enh] Add SNI support to postfix and dovecot
  conf/dovecot/dovecot.conf
  conf/postfix/main.cf
  conf/postfix/sni
  hooks/conf_regen/19-postfix
  hooks/conf_regen/25-dovecot
Due: none

[mdns] Set the StandardOutput to journal
  conf/mdns/yunomdns.service
Due: none

fix tox
  tox.ini
Due: none

another one
  tox.ini
Due: none

fix autofix locale format path
  maintenance/autofix_locale_format.py
Due: none

oupsi add black again
  tox.ini
Due: none

[CI] Format code with Black
  maintenance/autofix_locale_format.py
  src/__init__.py
  src/app.py
  src/app_catalog.py
  src/backup.py
  src/certificate.py
  src/diagnosers/10-ip.py
  src/diagnosis.py
  src/domain.py
  src/dyndns.py
  src/migrations/0021_migrate_to_bullseye.py
  src/permission.py
  src/regenconf.py
  src/service.py
  src/settings.py
  src/tools.py
  src/user.py
  src/utils/error.py
  src/utils/legacy.py
Due: test-i18n-keys

[CI] Reformat / remove stale translated strings
  locales/ca.json
  locales/de.json
  locales/en.json
  locales/eo.json
  locales/es.json
  locales/eu.json
  locales/fa.json
  locales/fr.json
  locales/gl.json
  locales/it.json
  locales/nl.json
  locales/oc.json
  locales/pt.json
  locales/uk.json
  locales/zh_Hans.json
Due: test-i18n-keys, test-translation-format-consistency, autofix-translated-strings

trying to fix autofix-translated-strings
  .gitlab/ci/lint.gitlab-ci.yml
  .gitlab/ci/translation.gitlab-ci.yml
Due: none

remove of the default hard-coded branch in ci scripts
  .gitlab-ci.yml
  .gitlab/ci/lint.gitlab-ci.yml
  .gitlab/ci/translation.gitlab-ci.yml
Due: none

fix for bullseye
  src/utils/config.py
  src/utils/legacy.py
Due: none

services: fix a couple edge cases
  src/service.py
Due: test-i18n-keys

[CI] Format code with Black
  src/service.py
Due: test-i18n-keys

[fix] Do not save php-fpm services in services.yml
  src/service.py
Due: test-i18n-keys

[fix] reorder diagnosers un-funkify the order 8)
  src/diagnosis.py
Due: test-i18n-keys

Path conditions:
  test-i18n-keys: (any of: locales/en.json, src/yunohost/*.py, data/hooks/diagnosis/*.py) or (any of: locales/en.json, src/*.py, src/diagnosers/*.py)
  test-translation-format-consistency: any of: locales/*
  test-actionmap: any of: data/actionsmap/*.yml
  test-helpers: any of: data/helpers.d/*
  test-domains: any of: src/yunohost/domain.py
  test-dns: any of: src/yunohost/dns.py, src/yunohost/utils/dns.py
  test-apps: any of: src/yunohost/app.py
  test-appscatalog: any of: src/yunohost/app_calalog.py
  test-appurl: any of: src/yunohost/app.py
  test-questions: any of: src/yunohost/utils/config.py
  test-app-config: any of: src/yunohost/app.py, src/yunohost/utils/config.py
  test-changeurl: any of: src/yunohost/app.py
  test-backuprestore: any of: src/yunohost/backup.py
  test-permission: any of: src/yunohost/permission.py
  test-settings: any of: src/yunohost/settings.py
  test-user-group: any of: src/yunohost/user.py
  test-regenconf: any of: src/yunohost/regenconf.py
  test-service: any of: src/yunohost/service.py
  test-ldapauth: any of: src/yunohost/authenticators/*.py
  autofix-translated-strings: any of: locales/*
