Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-actionmap, test-helpers, test-domains, test-dns, test-apps, test-appscatalog, test-appurl, test-questions, test-app-config, test-changeurl, test-backuprestore, test-permission, test-settings, test-user-group, test-regenconf, test-service, test-ldapauth, test-i18n-keys, autofix-translated-strings

Path conditions:
  test-actionmap: any of: share/actionsmap.yml
  test-helpers: any of: helpers/*
  test-domains: any of: src/domain.py
  test-dns: any of: src/dns.py, src/utils/dns.py
  test-apps: any of: src/app.py
  test-appscatalog: any of: src/app_calalog.py
  test-appurl: any of: src/app.py
  test-questions: any of: src/utils/config.py
  test-app-config: any of: src/app.py, src/utils/config.py
  test-changeurl: any of: src/app.py
  test-backuprestore: any of: src/backup.py
  test-permission: any of: src/permission.py
  test-settings: any of: src/settings.py
  test-user-group: any of: src/user.py
  test-regenconf: any of: src/regenconf.py
  test-service: any of: src/service.py
  test-ldapauth: any of: src/authenticators/*.py
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py
  autofix-translated-strings: any of: locales/*

Translated using Weblate (French)
  locales/fr.json
Due: autofix-translated-strings

Update changelog for 11.1.0.2
  debian/changelog
Due: none

doc: fix generate_helper_doc.py crashing because of vendor folder
  doc/generate_helper_doc.py
Due: none

Upgrade n to v9.0.1
  helpers/nodejs
Due: test-helpers

ldap: re-allow member of the admins group to edit ldap db
  conf/slapd/config.ldif
Due: none

diagnosis: fix old typo in ip diagnoser
  src/diagnosers/10-ip.py
Due: test-i18n-keys

Add Webgo as Registrar
  share/registrar_list.toml
Due: none

Add Webgo as Registrar (#1529)
  share/registrar_list.toml
Due: none

Add 502 custom error page
  conf/nginx/server.tpl.conf
  conf/nginx/yunohost_http_errors.conf.inc
  share/html/502.html
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

Add 502 custom error page (#1530)
  conf/nginx/server.tpl.conf
  conf/nginx/yunohost_http_errors.conf.inc
  share/html/502.html
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

tools_update: add --allow-releaseinfo-change option to apt update to prevent the classic nightmare when debian changes from stable to oldstable
  src/tools.py
Due: test-i18n-keys

[CI] Format code with Black
  src/tools.py
Due: test-i18n-keys

[CI] Format code with Black (#1531)
  src/tools.py
Due: test-i18n-keys

Fix docker-image-extract script name
  helpers/vendor/docker-image-extract/docker-image-extract
Due: none

Update docker-image-extract
  helpers/vendor/docker-image-extract/docker-image-extract
Due: none

Create sysctl.conf
  debian/sysctl.conf
Due: none

Improve dpkg_is_broken instruction to also mention dpkg --audit
  locales/en.json
Due: test-i18n-keys, autofix-translated-strings

Fix docker-image-extract script name (#1532)
  helpers/vendor/docker-image-extract/docker-image-extract
  helpers/vendor/docker-image-extract/extract.sh
Due: none

do not fetch catalogs registered with no `url`
  src/app_catalog.py
Due: test-i18n-keys

do not fetch catalogs registered with no `url` (#1535)
  src/app_catalog.py
Due: test-i18n-keys

[CI] Format code with Black
  src/app_catalog.py
Due: test-i18n-keys

[CI] Format code with Black (#1536)
  src/app_catalog.py
Due: test-i18n-keys

nginx: fix broken postinstall, yunohost_http_errors.conf.inc was not actually copied to /etc/nginx/conf.d. Moving to plain/ subfolder where all files in this folder are copied during nginx regenconf
  conf/nginx/plain/yunohost_http_errors.conf.inc
Due: none

Fix tip to regen slapd conf
  conf/slapd/config.ldif
Due: none

Allow apps to be installed on a path sharing a common base, eg /foo and /foo2
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

regenconf: fix yunohost hook incorectly tweaking mdns.yml ownership
  hooks/conf_regen/01-yunohost
Due: none

diagnosis: make the dnsrecord diagnoser not complain about the damn 128 vs 0 stuff in CAA records
  src/diagnosers/12-dnsrecords.py
Due: test-i18n-keys

add antifeatures and alternatives to catalog's apps manifest
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

add ask_confirmation helper
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

app_install: update notifications display with helpers
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

app_upgrade: display pre and post notifications
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

add app quality, antifeatures and alternative to base manifest
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

AppUpgrade: ask confirmation when not enough ram
  locales/en.json
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys, autofix-translated-strings

app: add notifications helpers
  locales/en.json
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys, autofix-translated-strings

tools_update: add hydrated pre/post upgrade notifications
  src/app.py
  src/tools.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

add locales & fix multi_instance check
  locales/en.json
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys, autofix-translated-strings

update checks for app requirements as generator
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

add new type 'simple' to cli _ask_confirmation
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

add antifeatures to app catalog
  share/actionsmap.yml
  src/app_catalog.py
Due: test-actionmap, test-i18n-keys

[fix] catalog: default values for categories & antifeatures
  src/app_catalog.py
Due: test-i18n-keys
