Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-actionmap, test-helpers, test-domains, test-dns, test-apps, test-appscatalog, test-appurl, test-questions, test-app-config, test-changeurl, test-backuprestore, test-permission, test-settings, test-user-group, test-regenconf, test-service, test-ldapauth, test-i18n-keys, autofix-translated-strings

test-actionmap:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

test-helpers:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

test-domains:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

test-dns:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

test-apps:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

test-appscatalog:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

test-appurl:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

test-questions:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

test-app-config:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

settings: use email.smtp.smtp_relay_enabled
  conf/postfix/main.cf
  hooks/conf_regen/19-postfix
  src/migrations/0024_global_settings_to_configpanel.py
Due: none

settings migration wip
  src/migrations/0024_global_settings_to_configpanel.py
Due: none

settings: use True and False for booleans
  share/config_settings.toml
Due: none

helpers: add ynh_install_app_build_dependencies, ynh_remove_app_build_dependencies
  helpers/apt
Due: test-helpers

helpers: new apt test for build deps
  tests/test_helpers.d/ynhtest_apt.sh
Due: none

[fix] Bad DNS conf suggestion
  src/diagnosers/12-dnsrecords.py
  src/dns.py
Due: test-dns, test-i18n-keys

migrate_to_bullseye: /etc/apt/sources.list may not exist
  src/yunohost/data_migrations/0021_migrate_to_bullseye.py
Due: none

Translated using Weblate (Spanish)
  locales/es.json
Due: autofix-translated-strings

manifestv2: fix ports resource test
  src/tests/test_app_resources.py
  src/utils/resources.py
Due: none

manifestv2: fix backup tests
  src/backup.py
  src/tests/test_backuprestore.py
Due: test-backuprestore, test-i18n-keys

Update n checksum with autoupdater
  .github/workflows/n_updater.sh
Due: none

Update nodejs helper for autoupdater
  helpers/nodejs
Due: test-helpers

Add comment
  src/dns.py
Due: test-dns, test-i18n-keys

[fix] depreciation warning about unicode
  src/dns.py
Due: test-dns, test-i18n-keys

[fix] Allow lime2 to upgrade even if kernel is hold (#1452)
  src/migrations/0021_migrate_to_bullseye.py
Due: none

[fix] Allow lime2 to upgrade even if kernel is hold (#1452)
  src/yunohost/data_migrations/0021_migrate_to_bullseye.py
Due: none

[CI] Format code with Black
  src/migrations/0021_migrate_to_bullseye.py
Due: none

Fix broken test, having install questions is mandatory
  src/app.py
  src/tests/test_permission.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

manifestv2: drafty implementation for notifications/doc inside the manifest
  src/app.py
  src/utils/system.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

ynh_add_config template
  helpers/utils
Due: test-helpers

manifestv2: implement test for permission ressource
  src/tests/test_app_resources.py
Due: none

manifestv2: improve permission resouce test
  src/tests/test_app_resources.py
  src/utils/resources.py
Due: none

Content Security Policies Report and Websockets
  conf/nginx/security.conf.inc
Due: none

Translated using Weblate (Russian)
  locales/ru.json
Due: autofix-translated-strings

Translated using Weblate (French)
  locales/fr.json
Due: autofix-translated-strings

[CI] Format code with Black
  src/diagnosers/12-dnsrecords.py
  src/dns.py
Due: test-dns, test-i18n-keys

Update changelog for 11.0.7
  debian/changelog
Due: none

Make changed variables' old values available in config panels scripts
  helpers/config
Due: test-helpers

manifestv2: iterate on notifications/doc + implement tests for it
  src/app.py
  src/app_catalog.py
  src/tests/test_apps.py
  src/utils/resources.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

manifestv2: add some i18n support for doc/notifications
  src/app.py
  src/tests/test_apps.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

manifestv2: print pre/post install notices during install in cli
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

better example
  helpers/user
Due: test-helpers

Escape username for ynh_user_exists
  helpers/user
Due: test-helpers

Fix typo (indefinite article in plural)
  src/utils/legacy.py
Due: none

Path conditions:
  test-actionmap: any of: share/actionsmap.yml
  test-helpers: any of: helpers/*
  test-domains: any of: src/domain.py
  test-dns: any of: src/dns.py, src/utils/dns.py
  test-apps: any of: src/app.py
  test-appscatalog: any of: src/app_calalog.py
  test-appurl: any of: src/app.py
  test-questions: any of: src/utils/config.py
  test-app-config: any of: src/app.py, src/utils/config.py
  test-changeurl: any of: src/app.py
  test-backuprestore: any of: src/backup.py
  test-permission: any of: src/permission.py
  test-settings: any of: src/settings.py
  test-user-group: any of: src/user.py
  test-regenconf: any of: src/regenconf.py
  test-service: any of: src/service.py
  test-ldapauth: any of: src/authenticators/*.py
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py
  autofix-translated-strings: any of: locales/*
