Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-actionmap, test-helpers, test-domains, test-dns, test-apps, test-appscatalog, test-appurl, test-questions, test-app-config, test-changeurl, test-backuprestore, test-permission, test-settings, test-user-group, test-regenconf, test-service, test-ldapauth, test-i18n-keys, autofix-translated-strings

test-actionmap:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

test-helpers:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

test-domains:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

test-dns:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

test-apps:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

test-appscatalog:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

test-appurl:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

test-questions:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

test-app-config:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

Update test.gitlab-ci.yml
  .gitlab/ci/test.gitlab-ci.yml
Due: none

mysql: dirty/ugly patch to autoinstall mariadb-server when calling ynhmysql_setup_db when it's not installed
  helpers/mysql
Due: test-helpers

improve previous commit, use ynh_apt to have non-interactive apt etc
  helpers/mysql
Due: test-helpers

Fix XMPP stuff that may not exists
  hooks/backup/27-data_xmpp
  hooks/restore/27-data_xmpp
Due: none

bookworm: add php7.x -> php8.2 autopatch
  src/app.py
  src/backup.py
  src/utils/legacy.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-backuprestore, test-i18n-keys

remove some legacy pre-bullseye workarounds
  bin/yunomdns
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

php-cli is needed for ynhtest_config.sh
  .gitlab/ci/test.gitlab-ci.yml
Due: none

mariadb-client needed by tests/test_app_resources.py
  .gitlab/ci/test.gitlab-ci.yml
Due: none

create migration : s/bullseye/bookworm s/buster/bullseye yolo, needs some more cleanup
  locales/en.json
  src/migrations/0027_migrate_to_bookworm.py
Due: test-i18n-keys, autofix-translated-strings

aaand mariadb-server ofc...
  .gitlab/ci/test.gitlab-ci.yml
Due: none

woops thanks codeql i guess
  src/migrations/0027_migrate_to_bookworm.py
Due: none

Update changelog for 11.1.19
  debian/changelog
Due: none

[CI] Format code with Black
  src/app.py
  src/utils/resources.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

Translated using Weblate (Indonesian)
  locales/id.json
Due: autofix-translated-strings

Translated using Weblate (Slovak)
  locales/sk.json
Due: autofix-translated-strings

fix: python3.11 now supports Possessive Quantifiers regex
  src/tests/test_appurl.py
Due: none

appsv2: fix funky current_version not being defined when hydrating pre-upgrade notifications
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

helpers: using YNH_APP_ID instead of YNH_APP_INSTANCE_NAME during ynh_setup_source download, for more consistency and because tests was actually failing since a while because of this
  helpers/utils
Due: test-helpers

tests: flake8 not happy about escape sequence in comment @_@
  src/utils/resources.py
Due: none

helpers: improve error message for corrupt source in ynh_setup_source, it's more relevant to cite the source url rather than the downloaded output path
  helpers/utils
Due: test-helpers

backup: fix again backup hook for xmpp when data folder dont exist
  hooks/backup/27-data_xmpp
Due: none

tests: fix spy on m18n.n which in some cases doesnt work anymore ... not sure why, bit confused ...
  src/tests/conftest.py
  src/tests/test_apps.py
  src/tests/test_backuprestore.py
  src/tests/test_ldapauth.py
  src/tests/test_permission.py
  src/tests/test_regenconf.py
  src/tests/test_user-group.py
Due: none

ci: force tox install during lint tasks
  .gitlab/ci/lint.gitlab-ci.yml
Due: none

py39->py311 in tox
  .gitlab/ci/lint.gitlab-ci.yml
  tox.ini
Due: none

ci: don't install any package with pip, it's supposed to be preinstalled
  .gitlab/ci/lint.gitlab-ci.yml
  .gitlab/ci/test.gitlab-ci.yml
Due: none

tests: fix remaining funky mocker.spy
  src/tests/test_app_catalog.py
Due: none

tests: fix bad regex permission test because python3.11 now accepts ++ quantifier, so change the 'bad regex' trick
  src/tests/test_permission.py
Due: none

tests: somehow using 'Domain' as http header aint supported anymore, gotta use Host
  src/tests/test_changeurl.py
Due: none

keep fail2ban rules on firewall reload
  hooks/post_iptable_rules/52-fail2ban
Due: none

tests:options: fix missing data patching
  src/tests/test_questions.py
Due: none

Init app_shell
  share/actionsmap.yml
  src/app.py
Due: test-actionmap, test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

Add ynh_load_app_environment helper
  helpers/apps
  src/app.py
Due: test-helpers, test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

Remove useless var declaration in app_shell function
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

Improve ynh_load_environment helper
  helpers/apps
Due: test-helpers

Fix Bash detection for ynh_load_app_environment
  helpers/apps
Due: test-helpers

Launch app shell
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

update Content-Security-Policy header for chromium
  conf/nginx/security.conf.inc
Due: none

Path conditions:
  test-actionmap: any of: share/actionsmap.yml
  test-helpers: any of: helpers/*
  test-domains: any of: src/domain.py
  test-dns: any of: src/dns.py, src/utils/dns.py
  test-apps: any of: src/app.py
  test-appscatalog: any of: src/app_calalog.py
  test-appurl: any of: src/app.py
  test-questions: any of: src/utils/config.py
  test-app-config: any of: src/app.py, src/utils/config.py
  test-changeurl: any of: src/app.py
  test-backuprestore: any of: src/backup.py
  test-permission: any of: src/permission.py
  test-settings: any of: src/settings.py
  test-user-group: any of: src/user.py
  test-regenconf: any of: src/regenconf.py
  test-service: any of: src/service.py
  test-ldapauth: any of: src/authenticators/*.py
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py
  autofix-translated-strings: any of: locales/*
