Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-actionmap, test-helpers, test-domains, test-dns, test-apps, test-appscatalog, test-appurl, test-questions, test-app-config, test-changeurl, test-backuprestore, test-permission, test-settings, test-user-group, test-regenconf, test-service, test-ldapauth, test-i18n-keys, autofix-translated-strings

test-actionmap:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

test-helpers:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

test-domains:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

test-dns:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

test-apps:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

test-appscatalog:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

test-appurl:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

test-questions:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

test-app-config:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

[CI] Format code with Black
  src/settings.py
Due: test-settings, test-i18n-keys

slapd: fix issue where sudo doesn't work because sudo-ldap doesn't create /etc/sudo-ldap.conf :/
  hooks/conf_regen/06-slapd
Due: none

certificate: Improve trick to identify certs as self-signed
  src/certificate.py
Due: test-i18n-keys

tests: fix packaging 22.x breaking tests because dropped support for LegacyVersion ... + fix a couple edge cases
  .gitlab/ci/test.gitlab-ci.yml
  src/app.py
  src/tests/test_permission.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

postfix: fix typo breaking relays
  conf/postfix/main.cf
Due: none

ssh config: Fix handling of ssh_password_authentication
  conf/ssh/sshd_config
  share/config_global.toml
Due: none

ssh config: Add ssh_allow_root_on_localnet
  conf/ssh/sshd_config
  hooks/conf_regen/03-ssh
  locales/en.json
  share/config_global.toml
Due: test-i18n-keys, autofix-translated-strings

ssh config: Add fr local for ssh_allow_root_on_localnet
  locales/fr.json
Due: autofix-translated-strings

Add SASL login failure jail
  conf/fail2ban/yunohost-jails.conf
Due: none

Create postfix-sasl.conf
  conf/fail2ban/postfix-sasl.conf
Due: none

configpanels: fix inconsistent return format for boolean, sometimes 1/0, sometimes True/False -> force normalization of values when calling get() for a single setting from a config panel
  conf/postfix/main.cf
  helpers/utils
  hooks/conf_regen/03-ssh
  hooks/conf_regen/15-nginx
  hooks/conf_regen/19-postfix
  share/config_global.toml
  src/tests/test_settings.py
  src/utils/config.py
Due: test-helpers, test-questions, test-app-config

quality: unused import
  src/certificate.py
Due: test-i18n-keys

certificate/postfix: propagate postfix SNI stuff when renewing certificates
  src/certificate.py
Due: test-i18n-keys

Update 52-fail2ban
  hooks/conf_regen/52-fail2ban
Due: none

Mistakenly added 'example' panel because ran tests locally /o\
  share/config_global.toml
Due: none

config_get now returns an int :|
  src/tests/test_app_config.py
Due: none

_check_manifest_requirements: raise error for "packaging_format" check
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

_check_manifest_requirements: fix "disk" req message with least free space dir
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

appv2: better error handling for app resources provisioning/deprovisioning/update failures
  locales/en.json
  src/app.py
  src/backup.py
  src/utils/resources.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-backuprestore, test-i18n-keys, autofix-translated-strings

certificate: be more resilient when mail cant be sent to root for some reason ..
  src/certificate.py
Due: test-i18n-keys

app resources: implement permission update
  src/permission.py
  src/utils/resources.py
Due: test-permission, test-i18n-keys

app resource: handle the --purge logic for data_dir removal
  src/app.py
  src/utils/resources.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

Hmpf
  src/utils/resources.py
Due: none

Friskies
  src/tests/test_app_resources.py
Due: none

Update main.cf
  conf/postfix/main.cf
Due: none

app resources: implement logic for port 'exposed' and 'fixed' options
  src/firewall.py
  src/tests/test_app_resources.py
  src/utils/resources.py
Due: test-i18n-keys

app resources: fix ambiguity for db resource 'type' property
  src/utils/resources.py
Due: none

cli: reflect changes in moulinette
  bin/yunohost
  share/actionsmap.yml
Due: test-actionmap

[CI] Format code with Black
  src/app.py
  src/certificate.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

Don't take lock for read/GET operations
  share/actionsmap.yml
Due: test-actionmap

Fix a bunch of inconsistency or variable not properly replaced between final_path/install_dir
  helpers/config
  helpers/php
  helpers/utils
  src/app.py
  tests/test_helpers.d/ynhtest_setup_source.sh
Due: test-helpers, test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

Don't disable avahi-daemon by force in conf_regen
  hooks/conf_regen/37-mdns
Due: none

Yoloimplementation of app logo support (require change in app catalog build)
  conf/nginx/yunohost_admin.conf.inc
  src/app.py
  src/app_catalog.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

Translated using Weblate (French)
  locales/fr.json
Due: autofix-translated-strings

Translated using Weblate (Galician)
  locales/gl.json
Due: autofix-translated-strings

Translated using Weblate (Slovak)
  locales/sk.json
Due: autofix-translated-strings

Translated using Weblate (Portuguese)
  locales/pt.json
Due: autofix-translated-strings

[CI] Reformat / remove stale translated strings
  locales/ar.json
  locales/de.json
  locales/en.json
  locales/es.json
  locales/eu.json
  locales/fr.json
  locales/gl.json
  locales/he.json
  locales/it.json
  locales/nl.json
  locales/pt.json
  locales/pt_BR.json
  locales/sk.json
  locales/uk.json
  locales/zh_Hans.json
Due: test-i18n-keys, autofix-translated-strings

appv2: simplify the expected notification file/folder structure in apps
  src/app.py
  src/tests/test_apps.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

appv2: cosmetic, having the notification name is weird, it's gonna be pretty much always just 'main'
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

Path conditions:
  test-actionmap: any of: share/actionsmap.yml
  test-helpers: any of: helpers/*
  test-domains: any of: src/domain.py
  test-dns: any of: src/dns.py, src/utils/dns.py
  test-apps: any of: src/app.py
  test-appscatalog: any of: src/app_calalog.py
  test-appurl: any of: src/app.py
  test-questions: any of: src/utils/config.py
  test-app-config: any of: src/app.py, src/utils/config.py
  test-changeurl: any of: src/app.py
  test-backuprestore: any of: src/backup.py
  test-permission: any of: src/permission.py
  test-settings: any of: src/settings.py
  test-user-group: any of: src/user.py
  test-regenconf: any of: src/regenconf.py
  test-service: any of: src/service.py
  test-ldapauth: any of: src/authenticators/*.py
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py
  autofix-translated-strings: any of: locales/*
