Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-i18n-keys, test-translation-format-consistency, test-actionmap, test-helpers, test-domains, test-dns, test-apps, test-appscatalog, test-appurl, test-questions, test-app-config, test-changeurl, test-backuprestore, test-permission, test-settings, test-user-group, test-regenconf, test-service, test-ldapauth, autofix-translated-strings

Path conditions:
  test-i18n-keys: (any of: locales/en.json, src/yunohost/*.py, data/hooks/diagnosis/*.py) or (any of: locales/en.json, src/*.py, src/diagnosers/*.py)
  test-translation-format-consistency: any of: locales/*
  test-actionmap: any of: data/actionsmap/*.yml
  test-helpers: any of: data/helpers.d/*
  test-domains: any of: src/yunohost/domain.py
  test-dns: any of: src/yunohost/dns.py, src/yunohost/utils/dns.py
  test-apps: any of: src/yunohost/app.py
  test-appscatalog: any of: src/yunohost/app_calalog.py
  test-appurl: any of: src/yunohost/app.py
  test-questions: any of: src/yunohost/utils/config.py
  test-app-config: any of: src/yunohost/app.py, src/yunohost/utils/config.py
  test-changeurl: any of: src/yunohost/app.py
  test-backuprestore: any of: src/yunohost/backup.py
  test-permission: any of: src/yunohost/permission.py
  test-settings: any of: src/yunohost/settings.py
  test-user-group: any of: src/yunohost/user.py
  test-regenconf: any of: src/yunohost/regenconf.py
  test-service: any of: src/yunohost/service.py
  test-ldapauth: any of: src/yunohost/authenticators/*.py
  autofix-translated-strings: any of: locales/*

Translated using Weblate (Kabyle)
  locales/kab.json
Due: test-translation-format-consistency, autofix-translated-strings

Translated using Weblate (German)
  locales/de.json
Due: test-translation-format-consistency, autofix-translated-strings

Translated using Weblate (Arabic)
  locales/ar.json
Due: test-translation-format-consistency, autofix-translated-strings

fix openssl conflict
  debian/control
Due: none

backport fix for openssl conflict
  debian/control
Due: none

Update changelog for 4.3.6.3
  debian/changelog
Due: none

Update changelog for 4.4.1
  debian/changelog
Due: none

Revert the attempt to fix the dpkg warning because I have no idea how to do it
  debian/preinst
Due: none

Update changelog for 11.0.6
  debian/changelog
Due: none

[fix] Allow lime2 to upgrade even if kernel is hold
  src/migrations/0021_migrate_to_bullseye.py
Due: none

[fix] Bad set operation
  src/migrations/0021_migrate_to_bullseye.py
Due: none

Better resilience to `?` used in password
  helpers/app
Due: none

renaming helper file
  helpers/apps
Due: none

typo
  helpers/apps
Due: none

remove not needed true
  helpers/apps
Due: none

better installed apps list
  data/helpers.d/nodejs
Due: test-helpers

Enforce chmod 644(-rw-r--r--) on logrotate configuration files
  helpers/logrotate
Due: none

Move comments to an empty line for readability
  helpers/logrotate
Due: none

chmod the log directory to prevent 666 permissions
  helpers/logrotate
Due: none

Improve ynh_string_random
  helpers/string
Due: none

Fix n auto-updater
  .github/workflows/n_updater.yml
Due: none

Fix n auto-updater base branch
  .github/workflows/n_updater.yml
Due: none

Upgrade n to v8.2.0
  helpers/nodejs
Due: none

Fix argument
  helpers/apps
Due: none

migration wip
  src/migrations/0024_global_settings_to_configpanel.py
Due: none

settings: backup settings.yml
  hooks/backup/20-conf_ynh_settings
  hooks/restore/20-conf_ynh_settings
Due: none

Update locales again
  locales/en.json
Due: test-i18n-keys, test-translation-format-consistency, autofix-translated-strings

settings migration
  locales/en.json
  src/migrations/0024_global_settings_to_configpanel.py
Due: test-i18n-keys, test-translation-format-consistency, autofix-translated-strings

settings: password stength...what could go wrong ?
  src/utils/password.py
Due: none

settings: use the yml when necessary
  src/migrations/0024_global_settings_to_configpanel.py
  src/utils/password.py
Due: none

Update locales
  locales/en.json
  src/settings.py
Due: test-i18n-keys, test-translation-format-consistency, autofix-translated-strings

wip
  locales/en.json
  share/config_settings.toml
  src/settings.py
  src/utils/config.py
Due: test-i18n-keys, test-translation-format-consistency, autofix-translated-strings

use moulinette instead of os.system, os.chown, os.chmod
  src/certificate.py
  src/diagnosers/21-web.py
Due: test-i18n-keys

clean unused code
  src/settings.py
Due: test-i18n-keys

typo
  src/settings.py
Due: test-i18n-keys

wip
  locales/en.json
  share/actionsmap.yml
  share/config_settings.toml
  src/settings.py
  src/utils/config.py
  src/utils/legacy.py
Due: test-i18n-keys, test-translation-format-consistency, autofix-translated-strings

wip tests
  locales/en.json
  share/config_settings.toml
  src/settings.py
  src/tests/test_settings.py
Due: test-i18n-keys, test-translation-format-consistency, autofix-translated-strings

wip unit tests
  src/tests/test_settings.py
Due: none

Search and replace old settings, first pass
  conf/ssh/sshd_config
  hooks/conf_regen/03-ssh
  hooks/conf_regen/15-nginx
  hooks/conf_regen/25-dovecot
  hooks/conf_regen/52-fail2ban
  maintenance/missing_i18n_keys.py
  src/backup.py
  src/diagnosers/24-mail.py
  src/diagnosers/70-regenconf.py
Due: test-i18n-keys
