Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-i18n-keys, test-translation-format-consistency, test-actionmap, test-helpers, test-domains, test-dns, test-apps, test-appscatalog, test-appurl, test-questions, test-app-config, test-changeurl, test-backuprestore, test-permission, test-settings, test-user-group, test-regenconf, test-service, test-ldapauth, autofix-translated-strings

test-i18n-keys:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-translation-format-consistency:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-actionmap:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-helpers:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-domains:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-dns:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-apps:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-appscatalog:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

autofix-translated-strings:
  stage: translation
  image: before-install
  needs: []
  before_script:
  - apt-get update -y && apt-get install git hub -y
  - git config --global user.email "yunohost@yunohost.org"
  - git config --global user.name "$GITHUB_USER"
  ...

Sury has a crazy new amount of php-* packages that depend on specific versions of php, we shall ban them or it creates a frakin mess
  data/hooks/conf_regen/10-apt
Due: none

migrate_to_bullseye: add the list of app-ynh-deps in the php7.4 install trick, because that seem to solve some stupid dependency blocage issues...
  src/yunohost/data_migrations/0021_migrate_to_bullseye.py
Due: none

migrate_to_bullseye: add sury before running apt update otherwise we end up in an inconsistent state
  src/yunohost/data_migrations/0021_migrate_to_bullseye.py
Due: none

More sury/php madness ... forbidding php-common doesnt seem to be good idea so let's have it
  data/hooks/conf_regen/10-apt
Due: none

remove unused import
  src/dyndns.py
Due: test-i18n-keys

Aaaand order matters in apt preferences
  data/hooks/conf_regen/10-apt
Due: none

Typo: grep doesn't like args starting with dashes
  src/yunohost/data_migrations/0021_migrate_to_bullseye.py
Due: none

[CI] Format code with Black
  src/yunohost/data_migrations/0021_migrate_to_bullseye.py
Due: none

[fix] Force dependencies upgrade even if previous version is accepted
  data/helpers.d/apt
Due: test-helpers

certificate: don't attempt to restart metronome if not installed
  src/certificate.py
Due: test-i18n-keys

Translated using Weblate (German)
  locales/de.json
Due: test-translation-format-consistency, autofix-translated-strings

Translated using Weblate (Galician)
  locales/gl.json
Due: test-translation-format-consistency, autofix-translated-strings

Translated using Weblate (Ukrainian)
  locales/uk.json
Due: test-translation-format-consistency, autofix-translated-strings

Translated using Weblate (Spanish)
  locales/es.json
Due: test-translation-format-consistency, autofix-translated-strings

Translated using Weblate (Dutch)
  locales/nl.json
Due: test-translation-format-consistency, autofix-translated-strings

Translated using Weblate (French)
  locales/fr.json
Due: test-translation-format-consistency, autofix-translated-strings

Typo
  src/authenticators/ldap_admin.py
Due: none

Drop the 'admin' user, have 'admins' be a group of Yunohost users instead
  conf/slapd/config.ldif
  conf/slapd/db_init.ldif
  conf/slapd/mailserver.ldif
  hooks/conf_regen/01-yunohost
  hooks/conf_regen/06-slapd
  locales/en.json
  share/actionsmap.yml
  src/authenticators/ldap_admin.py
  src/backup.py
  src/ssh.py
  src/tools.py
  src/user.py
  src/utils/config.py
Due: test-i18n-keys, test-translation-format-consistency, autofix-translated-strings

mail: Add ldap-groups virtual aliases
  conf/postfix/main.cf
  conf/postfix/plain/ldap-groups.cf
  conf/slapd/db_init.ldif
Due: none

ci: Propagate postinstall cli changes to install.gitlab-ci.yml
  .gitlab/ci/install.gitlab-ci.yml
Due: none

migrate_to_bullseye: mark the base php7.4 packages as auto
  src/yunohost/data_migrations/0021_migrate_to_bullseye.py
Due: none

Reformat fr locale
  locales/fr.json
Due: test-translation-format-consistency, autofix-translated-strings

ci: typo
  .gitlab/ci/translation.gitlab-ci.yml
Due: none

ldap: having to repeat the base dn everytime we call search() is boring and inconsistent with other methods, let's use relative dns instead
  src/domain.py
  src/permission.py
  src/ssh.py
  src/tests/test_permission.py
  src/user.py
  src/utils/ldap.py
Due: test-i18n-keys

Prevent deletion of the new admins group
  src/user.py
Due: test-i18n-keys

Draft migration for new admins group
  src/migrations/0024_new_admins_group.py
Due: none

ci: moar typoz, wtf @_@
  .gitlab/ci/translation.gitlab-ci.yml
Due: none

diagnosis: incorrect dns check (relative vs absolute) for CNAME on subdomain
  data/hooks/diagnosis/12-dnsrecords.py
Due: test-i18n-keys

codequality: fstring all the things! (well, not all but a lot :P)
  src/app.py
  src/app_catalog.py
  src/backup.py
  src/certificate.py
  src/diagnosis.py
  src/dns.py
  src/domain.py
  src/hook.py
  src/permission.py
  src/regenconf.py
  src/service.py
  src/settings.py
  src/ssh.py
  src/tools.py
  src/user.py
  src/utils/legacy.py
Due: test-i18n-keys

manifestv2, appresources: Implement a more generic 'apply' mecanism with possible rollback
  src/app.py
  src/backup.py
  src/tests/test_app_resources.py
  src/utils/resources.py
Due: test-i18n-keys

Tmp remove bullseye migration for minor release
  src/yunohost/data_migrations/0021_migrate_to_bullseye.py
Due: none

Update changelog for 4.3.6
  debian/changelog
Due: none

Revert "Tmp remove bullseye migration for minor release"
  src/yunohost/data_migrations/0021_migrate_to_bullseye.py
Due: none

[dnsmasq] ensure interface is up
  data/hooks/conf_regen/43-dnsmasq
Due: none

Cleanup
  src/utils/resources.py
Due: none

apt resources: Yoloimplement extras repo management
  src/utils/resources.py
Due: none

install_dir resource: automigrate from final path value
  src/utils/resources.py
Due: none

Path conditions:
  test-i18n-keys: (any of: locales/en.json, src/yunohost/*.py, data/hooks/diagnosis/*.py) or (any of: locales/en.json, src/*.py, src/diagnosers/*.py)
  test-translation-format-consistency: any of: locales/*
  test-actionmap: any of: data/actionsmap/*.yml
  test-helpers: any of: data/helpers.d/*
  test-domains: any of: src/yunohost/domain.py
  test-dns: any of: src/yunohost/dns.py, src/yunohost/utils/dns.py
  test-apps: any of: src/yunohost/app.py
  test-appscatalog: any of: src/yunohost/app_calalog.py
  test-appurl: any of: src/yunohost/app.py
  test-questions: any of: src/yunohost/utils/config.py
  test-app-config: any of: src/yunohost/app.py, src/yunohost/utils/config.py
  test-changeurl: any of: src/yunohost/app.py
  test-backuprestore: any of: src/yunohost/backup.py
  test-permission: any of: src/yunohost/permission.py
  test-settings: any of: src/yunohost/settings.py
  test-user-group: any of: src/yunohost/user.py
  test-regenconf: any of: src/yunohost/regenconf.py
  test-service: any of: src/yunohost/service.py
  test-ldapauth: any of: src/yunohost/authenticators/*.py
  autofix-translated-strings: any of: locales/*
