Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-actionmap, test-helpers, test-domains, test-dns, test-apps, test-appscatalog, test-appurl, test-questions, test-app-config, test-changeurl, test-backuprestore, test-permission, test-settings, test-user-group, test-regenconf, test-service, test-ldapauth, test-i18n-keys, autofix-translated-strings

Path conditions:
  test-actionmap: any of: share/actionsmap.yml
  test-helpers: any of: helpers/*
  test-domains: any of: src/domain.py
  test-dns: any of: src/dns.py, src/utils/dns.py
  test-apps: any of: src/app.py
  test-appscatalog: any of: src/app_calalog.py
  test-appurl: any of: src/app.py
  test-questions: any of: src/utils/config.py
  test-app-config: any of: src/app.py, src/utils/config.py
  test-changeurl: any of: src/app.py
  test-backuprestore: any of: src/backup.py
  test-permission: any of: src/permission.py
  test-settings: any of: src/settings.py
  test-user-group: any of: src/user.py
  test-regenconf: any of: src/regenconf.py
  test-service: any of: src/service.py
  test-ldapauth: any of: src/authenticators/*.py
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py
  autofix-translated-strings: any of: locales/*

[fix] Missing migration
  src/migrations/0027_ssowat_regenconf.py
Due: none

Change to select
  share/config_global.toml
  src/diagnosers/10-ip.py
  src/diagnosers/14-ports.py
  src/diagnosers/21-web.py
  src/diagnosers/24-mail.py
  src/dns.py
  src/settings.py
Due: test-dns, test-settings, test-i18n-keys

diagnosis
  locales/en.json
  src/diagnosers/10-ip.py
Due: test-i18n-keys, autofix-translated-strings

oops again...
  src/diagnosers/14-ports.py
  src/diagnosers/21-web.py
  src/diagnosers/24-mail.py
Due: test-i18n-keys

oops
  src/diagnosers/10-ip.py
  src/diagnosers/14-ports.py
  src/diagnosers/21-web.py
  src/diagnosers/24-mail.py
  src/dns.py
Due: test-dns, test-i18n-keys

zblerg
  src/diagnosers/10-ip.py
Due: test-i18n-keys

enh: ipv6 only global setting
  share/config_global.toml
  src/diagnosers/10-ip.py
  src/diagnosers/14-ports.py
  src/diagnosers/21-web.py
  src/diagnosers/24-mail.py
  src/dns.py
  src/settings.py
Due: test-dns, test-settings, test-i18n-keys

Clarify conditions
  src/diagnosers/14-ports.py
  src/diagnosers/21-web.py
  src/dns.py
Due: test-dns, test-i18n-keys

[CI] Reformat / remove stale translated strings (#1557)
  locales/ar.json
  locales/de.json
  locales/en.json
  locales/es.json
  locales/eu.json
  locales/fr.json
  locales/gl.json
  locales/he.json
  locales/it.json
  locales/nl.json
  locales/pt.json
  locales/pt_BR.json
  locales/sk.json
  locales/uk.json
  locales/zh_Hans.json
Due: test-i18n-keys, autofix-translated-strings

debian: regen ssowatconf during package upgrade
  debian/postinst
Due: none

Update changlog for 11.1.2.2
  debian/changelog
Due: none

ssowat: add use_remote_user_var_in_nginx_conf flag on permission
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

Update changelog for 11.0.11
  debian/changelog
Due: none

ssowat: add use_remote_user_var_in_nginx_conf flag on permission
  src/yunohost/app.py
Due: none

Update changelog for 4.4.3
  debian/changelog
Due: none

separate app factories
  bin/yunohost-fastapi
  bin/yunohost-typer
  src/__init_.py
  src/interface/api.py
  src/interface/base.py
Due: test-i18n-keys

test temp error handling
  src/interface/api.py
  src/interface/cli.py
Due: none

add file handling
  src/interface/api.py
  src/interface/cli.py
Due: none

add moulinette display/prompt mocking
  src/interface/__init__.py
  src/interface/cli.py
Due: none

chore: update actions version to use node 16 version
  .github/workflows/n_updater.yml
Due: none

[fix] Postgresql migration
  src/migrations/0023_postgresql_11_to_13.py
Due: none

[fix] Remove some debug test
  debian/postinst
Due: none

add simple pattern validation
  src/interface/api.py
  src/interface/base.py
  src/interface/cli.py
Due: none

add logging
  src/__init_.py
Due: test-i18n-keys

mock Moulinette.interface and use functools.wraps on @unit_operation
  src/hook.py
  src/log.py
Due: test-i18n-keys

add some interface decorators and types on user and log view
  src/log.py
  src/user.py
Due: test-user-group, test-i18n-keys

Add --routines flag
  helpers/mysql
Due: test-helpers

use pydantic Field as base info defition
  src/interface/base.py
  src/interface/types.py
Due: none

add Field to typer Argument|Option factory
  src/interface/cli.py
Due: none

add Field to fastapi Path|Query|Body factories
  src/interface/api.py
Due: none

update some test views with new syntax
  src/user.py
Due: test-user-group, test-i18n-keys

remove no longer used function + fix uvicorn logging + fix Interface definition to work with moulinette
  src/__init_.py
  src/interface/__init__.py
  src/interface/api.py
  src/interface/cli.py
Due: test-i18n-keys

fix pydantic import error + rename 'pattern' to pydantic's 'regex'
  src/interface/api.py
  src/interface/base.py
  src/interface/cli.py
  src/user.py
Due: test-user-group, test-i18n-keys

rewrite list_shells
  src/user.py
Due: test-user-group, test-i18n-keys

Simplify code
  src/user.py
Due: test-user-group, test-i18n-keys

ipexposuresetting: replace confusing negations with explicit 'in'
  src/diagnosers/21-web.py
  src/diagnosers/24-mail.py
  src/dns.py
Due: test-dns, test-i18n-keys

[CI] Reformat / remove stale translated strings
  locales/de.json
  locales/en.json
  locales/es.json
  locales/eu.json
  locales/fr.json
  locales/gl.json
  locales/it.json
  locales/pt.json
  locales/ru.json
  locales/sk.json
  locales/uk.json
  locales/zh_Hans.json
Due: test-i18n-keys, autofix-translated-strings
