Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-actionmap, test-helpers, test-domains, test-dns, test-apps, test-appscatalog, test-appurl, test-questions, test-app-config, test-changeurl, test-backuprestore, test-permission, test-settings, test-user-group, test-regenconf, test-service, test-ldapauth, test-i18n-keys, autofix-translated-strings

test-actionmap:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

test-helpers:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

test-domains:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

test-dns:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

test-apps:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

test-appscatalog:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

test-appurl:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

test-questions:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

test-app-config:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

[CI] Format code with Black
  src/migrations/0021_migrate_to_bullseye.py
  src/migrations/0024_rebuild_python_venv.py
  src/tools.py
  src/user.py
Due: test-user-group, test-i18n-keys

Move setting migration to 0025 instead of 0024 because of the new python venv migration
  locales/en.json
  src/migrations/0025_global_settings_to_configpanel.py
Due: test-i18n-keys, autofix-translated-strings

Update changelog for 4.4.2
  debian/changelog
Due: none

Rename admin group migration from 24 to 26 (25 gonna be global settings)
  src/migrations/0026_new_admins_group.py
Due: none

[enh] Add level 0 bullseye apps to disclaimer
  src/yunohost/app.py
Due: none

[fix] Unstable apps if from_catalog is missing
  src/yunohost/app.py
Due: none

Unused vars, black
  src/yunohost/data_migrations/0021_migrate_to_bullseye.py
Due: none

/opt may not exist ...
  src/yunohost/data_migrations/0021_migrate_to_bullseye.py
Due: none

Update changelog for 4.4.2.1
  debian/changelog
Due: none

/opt may not exist ...
  src/migrations/0024_rebuild_python_venv.py
Due: none

Update changelog for 11.0.9.1
  debian/changelog
Due: none

[fix] -f and --force are not thje same with yunohos app upgrade
  locales/en.json
Due: test-i18n-keys, autofix-translated-strings

Update en.json
  locales/en.json
Due: test-i18n-keys, autofix-translated-strings

[CI] Reformat / remove stale translated strings
  locales/ar.json
  locales/de.json
  locales/en.json
  locales/es.json
  locales/fr.json
  locales/kab.json
  locales/ru.json
  locales/sk.json
  locales/te.json
Due: test-i18n-keys, autofix-translated-strings

diagnosis: add complains if some app installed are still requiring only yunohost 3.x
  src/diagnosers/80-apps.py
Due: test-i18n-keys

venv rebuild: migration should have an empty disclaimer when in auto mode
  src/migrations/0024_rebuild_python_venv.py
Due: none

bullseye migration: add critical fix for RPi failing to get network on reboot
  src/migrations/0021_migrate_to_bullseye.py
Due: none

bullseye migration: add the patch for the build-essential / libc6-dev / libgcc-8-dev hell ...
  src/migrations/0021_migrate_to_bullseye.py
Due: none

bullseye migration: add fix for stupid dnsmasq not picking new init script
  src/migrations/0021_migrate_to_bullseye.py
Due: none

bullseye migration: backport a bunch of fixes from the dev branch
  src/yunohost/data_migrations/0021_migrate_to_bullseye.py
Due: none

[CI] Format code with Black
  src/diagnosers/80-apps.py
  src/migrations/0021_migrate_to_bullseye.py
Due: test-i18n-keys

Update changelog for 4.4.2.2
  debian/changelog
Due: none

postgresql 11->13 migration: skip if no yunohost app depend on postgresql
  src/migrations/0023_postgresql_11_to_13.py
Due: none

bullseye migration: add ffsync to deprecated apps
  src/yunohost/app.py
Due: none

Update changelog for 4.4.2.3
  debian/changelog
Due: none

Update changelog for 11.0.9.2
  debian/changelog
Due: none

Translated using Weblate (French)
  locales/fr.json
Due: autofix-translated-strings

Translated using Weblate (Galician)
  locales/gl.json
Due: autofix-translated-strings

Translated using Weblate (Basque)
  locales/eu.json
Due: autofix-translated-strings

Update locales/fr.json
  locales/fr.json
Due: autofix-translated-strings

fix linter in postgresql migration
  src/migrations/0023_postgresql_11_to_13.py
Due: none

Update changelog for 11.0.9.3
  debian/changelog
Due: none

bullseye migration: trash pip freeze stderr because it's confusing users ...
  src/yunohost/data_migrations/0021_migrate_to_bullseye.py
Due: none

bullseye migration: add a check that there's at least 70MB available in /boot ...
  src/yunohost/data_migrations/0021_migrate_to_bullseye.py
Due: none

bullseye migration: better detection mechanism for the libc6 / libgcc hell issue
  src/yunohost/data_migrations/0021_migrate_to_bullseye.py
Due: none

Update changelog for 4.4.2.4
  debian/changelog
Due: none

venv rebuild: synapse's folder is named matrix-synapse
  src/migrations/0024_rebuild_python_venv.py
Due: none

Update changelog for 11.0.9.4
  debian/changelog
Due: none

Path conditions:
  test-actionmap: any of: share/actionsmap.yml
  test-helpers: any of: helpers/*
  test-domains: any of: src/domain.py
  test-dns: any of: src/dns.py, src/utils/dns.py
  test-apps: any of: src/app.py
  test-appscatalog: any of: src/app_calalog.py
  test-appurl: any of: src/app.py
  test-questions: any of: src/utils/config.py
  test-app-config: any of: src/app.py, src/utils/config.py
  test-changeurl: any of: src/app.py
  test-backuprestore: any of: src/backup.py
  test-permission: any of: src/permission.py
  test-settings: any of: src/settings.py
  test-user-group: any of: src/user.py
  test-regenconf: any of: src/regenconf.py
  test-service: any of: src/service.py
  test-ldapauth: any of: src/authenticators/*.py
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py
  autofix-translated-strings: any of: locales/*
