Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-actionmap, test-helpers, test-domains, test-dns, test-apps, test-appscatalog, test-appurl, test-questions, test-app-config, test-changeurl, test-backuprestore, test-permission, test-settings, test-user-group, test-regenconf, test-service, test-ldapauth, test-i18n-keys, autofix-translated-strings

Path conditions:
  test-actionmap: any of: share/actionsmap.yml
  test-helpers: any of: helpers/*
  test-domains: any of: src/domain.py
  test-dns: any of: src/dns.py, src/utils/dns.py
  test-apps: any of: src/app.py
  test-appscatalog: any of: src/app_calalog.py
  test-appurl: any of: src/app.py
  test-questions: any of: src/utils/config.py
  test-app-config: any of: src/app.py, src/utils/config.py
  test-changeurl: any of: src/app.py
  test-backuprestore: any of: src/backup.py
  test-permission: any of: src/permission.py
  test-settings: any of: src/settings.py
  test-user-group: any of: src/user.py
  test-regenconf: any of: src/regenconf.py
  test-service: any of: src/service.py
  test-ldapauth: any of: src/authenticators/*.py
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py
  autofix-translated-strings: any of: locales/*

ci: Attempt to fix the CI, gitlab-ci had some changes related to artefacts paths
  .gitlab-ci.yml
Due: none

debian: refresh catalog upon package upgrade
  debian/postinst
Due: none

ci: friskies?
  .gitlab/ci/build.gitlab-ci.yml
Due: none

ci: friskies?²
  .gitlab-ci.yml
Due: none

ci: add some boring debugging to have a clear view of where the .deb are -_-'
  .gitlab/ci/build.gitlab-ci.yml
Due: none

ci: friskies?³
  .gitlab/ci/build.gitlab-ci.yml
Due: none

ci: friskies?⁴
  .gitlab-ci.yml
Due: none

ci: friskies?⁵
  .gitlab/ci/build.gitlab-ci.yml
Due: none

ci: friskies?⁶
  .gitlab-ci.yml
  .gitlab/ci/build.gitlab-ci.yml
Due: none

ci: friskies?⁷
  .gitlab/ci/install.gitlab-ci.yml
  .gitlab/ci/test.gitlab-ci.yml
Due: none

Update changelog for 11.1.3
  debian/changelog
Due: none

Apply suggestions from code review
  src/diagnosers/14-ports.py
Due: test-i18n-keys

add xmpp-upload. and muc. server_name only if xmpp_enabled is enabled
  conf/nginx/server.tpl.conf
Due: none

Translated using Weblate (Galician)
  locales/gl.json
Due: autofix-translated-strings

Added translation using Weblate (Lithuanian)
  locales/lt.json
Due: autofix-translated-strings

Translated using Weblate (Arabic)
  locales/ar.json
Due: autofix-translated-strings

Translated using Weblate (French)
  locales/fr.json
Due: autofix-translated-strings

Translated using Weblate (Spanish)
  locales/es.json
Due: autofix-translated-strings

Translated using Weblate (Basque)
  locales/eu.json
Due: autofix-translated-strings

i18n: typo in fr string
  locales/fr.json
Due: autofix-translated-strings

i18n: funky fr translation
  locales/fr.json
Due: autofix-translated-strings

[CI] Reformat / remove stale translated strings
  locales/ar.json
  locales/es.json
  locales/eu.json
  locales/fr.json
  locales/gl.json
  locales/lt.json
Due: autofix-translated-strings

Translated using Weblate (Turkish)
  locales/tr.json
Due: autofix-translated-strings

Update changelog for 11.1.3.1
  debian/changelog
Due: none

dns_exposure setting: we don't want to regenconf nginx/postfix when values change
  src/settings.py
Due: test-settings, test-i18n-keys

dns_exposure setting: add setting description + help
  locales/en.json
Due: test-i18n-keys, autofix-translated-strings

Update changelog for 11.1.4
  debian/changelog
Due: none

debian: don't dump upgradable apps during postinst's catalog update
  debian/postinst
Due: none

[CI] Format code with Black
  src/diagnosers/10-ip.py
  src/diagnosers/14-ports.py
  src/diagnosers/21-web.py
  src/diagnosers/24-mail.py
Due: test-i18n-keys

Output checksums if ynh_setup_source fails
  helpers/utils
Due: test-helpers

Print size in error message if ynh_setup_source checksum fails
  helpers/utils
Due: test-helpers

metronome: Auto-enable/disable metronome if there's no/at least one domain configured for XMPP
  hooks/conf_regen/12-metronome
  src/service.py
Due: test-service, test-i18n-keys

Update changelog for 11.1.4.1
  debian/changelog
Due: none

diagnosis: we can't yield an ERROR if there's no IPv6, otherwise that blocks all subsequent network-related diagnoser because of the dependency system ...
  src/diagnosers/10-ip.py
Due: test-i18n-keys
