Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-actionmap, test-helpers, test-domains, test-dns, test-apps, test-appscatalog, test-appurl, test-questions, test-app-config, test-changeurl, test-backuprestore, test-permission, test-settings, test-user-group, test-regenconf, test-service, test-ldapauth, test-i18n-keys, autofix-translated-strings

Path conditions:
  test-actionmap: any of: share/actionsmap.yml
  test-helpers: any of: helpers/*
  test-domains: any of: src/domain.py
  test-dns: any of: src/dns.py, src/utils/dns.py
  test-apps: any of: src/app.py
  test-appscatalog: any of: src/app_calalog.py
  test-appurl: any of: src/app.py
  test-questions: any of: src/utils/config.py
  test-app-config: any of: src/app.py, src/utils/config.py
  test-changeurl: any of: src/app.py
  test-backuprestore: any of: src/backup.py
  test-permission: any of: src/permission.py
  test-settings: any of: src/settings.py
  test-user-group: any of: src/user.py
  test-regenconf: any of: src/regenconf.py
  test-service: any of: src/service.py
  test-ldapauth: any of: src/authenticators/*.py
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py
  autofix-translated-strings: any of: locales/*

Typo
  src/utils/legacy.py
Due: none

Translated using Weblate (Telugu)
  locales/te.json
Due: autofix-translated-strings

Added translation using Weblate (Slovak)
  locales/sk.json
Due: autofix-translated-strings

Translated using Weblate (Slovak)
  locales/sk.json
Due: autofix-translated-strings

Added translation using Weblate (Telugu)
  locales/te.json
Due: autofix-translated-strings

Merge
  hooks/conf_regen/43-dnsmasq
Due: none

Fix
  src/diagnosers/10-ip.py
Due: test-i18n-keys

Added a field in the settings for mirrors of ip.yunohost.org
  hooks/conf_regen/43-dnsmasq
  share/config_settings.toml
  src/diagnosers/10-ip.py
Due: test-i18n-keys

Changed variable name
  hooks/conf_regen/43-dnsmasq
Due: none

Changed settings type
  share/config_settings.toml
Due: none

Using global settings
  src/utils/network.py
Due: none

The IP diagnosers now uses network.py functions
  src/diagnosers/10-ip.py
  src/utils/network.py
Due: test-i18n-keys

Added a warning when multiple IPs are detected
  locales/en.json
  src/diagnosers/10-ip.py
Due: test-i18n-keys, autofix-translated-strings

Added diagnosis details if more than 1 IP is found
  locales/en.json
  src/diagnosers/10-ip.py
Due: test-i18n-keys, autofix-translated-strings

Anonymize all IP adresses
  src/utils/yunopaste.py
Due: none

Bash script now uses network.py's function for IP detection
  hooks/conf_regen/43-dnsmasq
Due: none

Fixed default value for IPv4
  hooks/conf_regen/43-dnsmasq
Due: none

Filter all non-local IP adresses
  src/utils/yunopaste.py
Due: none

Added a function to check if an IP is local
  src/utils/network.py
  src/utils/yunopaste.py
Due: none

Removed useless variable
  src/utils/yunopaste.py
Due: none

Added an optionnal "password" argument to the "yunohost dyndns subscribe" command
  locales/en.json
  share/actionsmap.yml
  src/dyndns.py
Due: test-actionmap, test-i18n-keys, autofix-translated-strings

Added a new command to delete dyndns records
  locales/en.json
  share/actionsmap.yml
  src/dyndns.py
Due: test-actionmap, test-i18n-keys, autofix-translated-strings

Fixed typo
  share/actionsmap.yml
Due: test-actionmap

We can now specify a password using the yunohost domain add command
  locales/en.json
  share/actionsmap.yml
  src/domain.py
Due: test-actionmap, test-domains, test-i18n-keys, autofix-translated-strings

`yunohost domain remove` now accepts a -p argument
  share/actionsmap.yml
  src/domain.py
Due: test-actionmap, test-domains, test-i18n-keys

The option -d is deprecated, -p is preferred
  locales/en.json
  share/actionsmap.yml
  src/domain.py
Due: test-actionmap, test-domains, test-i18n-keys, autofix-translated-strings

Update locales/en.json
  locales/en.json
Due: test-i18n-keys, autofix-translated-strings

Update share/config_settings.toml
  share/config_settings.toml
Due: none

Update src/utils/network.py
  src/utils/network.py
Due: none

Passwords can be set interactively
  share/actionsmap.yml
  src/domain.py
  src/dyndns.py
Due: test-actionmap, test-domains, test-i18n-keys
