Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-actionmap, test-helpers, test-domains, test-dns, test-apps, test-appscatalog, test-appurl, test-questions, test-app-config, test-changeurl, test-backuprestore, test-permission, test-settings, test-user-group, test-regenconf, test-service, test-ldapauth, test-i18n-keys, autofix-translated-strings

test-actionmap:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

test-helpers:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

test-domains:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

test-dns:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

test-apps:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

test-appscatalog:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

test-appurl:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

test-questions:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

test-app-config:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

Update resources.py
  src/utils/resources.py
Due: none

[fix] Pop3 is not enable in config file
  conf/dovecot/dovecot.conf
Due: none

fix: add missing translatable string log_remove_on_failed_restore
  locales/en.json
Due: test-i18n-keys, autofix-translated-strings

misc: automatic get rid of /etc/profile.d/check_yunohost_is_installed.sh when yunohost is postinstalled
  hooks/conf_regen/01-yunohost
Due: none

regenconf: sometimes ntp doesnt exist
  hooks/conf_regen/01-yunohost
Due: none

nginx/security: fix empty webadmin allowlist breaking nginx conf...
  conf/nginx/yunohost_admin.conf.inc
Due: none

Fix pop3_enabled parsing returning 0/1 instead of True/False ...
  hooks/conf_regen/25-dovecot
Due: none

Translated using Weblate (French)
  locales/fr.json
Due: autofix-translated-strings

Translated using Weblate (Galician)
  locales/gl.json
Due: autofix-translated-strings

Translated using Weblate (Italian)
  locales/it.json
Due: autofix-translated-strings

Translated using Weblate (Polish)
  locales/pl.json
Due: autofix-translated-strings

helpers: add support for a sources.toml to modernize and replace app.src format
  helpers/utils
Due: test-helpers

Update locales/pl.json
  locales/pl.json
Due: autofix-translated-strings

[CI] Reformat / remove stale translated strings
  locales/ar.json
  locales/ca.json
  locales/de.json
  locales/en.json
  locales/eo.json
  locales/es.json
  locales/eu.json
  locales/fa.json
  locales/fr.json
  locales/gl.json
  locales/it.json
  locales/nb_NO.json
  locales/oc.json
  locales/pl.json
  locales/tr.json
  locales/uk.json
  locales/zh_Hans.json
Due: test-i18n-keys, autofix-translated-strings

helpers: more robust way to grep that the service correctly started ?
  helpers/systemd
Due: test-helpers

helpers: tweak behavior of checksum helper in CI context to help debug why file appear as 'manually modified'
  helpers/backup
Due: test-helpers

Allow system users to auth on the mail stack and send emails
  conf/dovecot/dovecot.conf
  conf/postfix/main.cf
Due: none

appsv2/mail: add new 'allow_email' flag on app system users that will autogenerate a passwd-like file to be used by dovecot + map for postfix
  conf/dovecot/dovecot.conf
  conf/postfix/main.cf
  hooks/conf_regen/19-postfix
  hooks/conf_regen/25-dovecot
  src/app.py
  src/utils/resources.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

appsv2: add documentation for previously introduced allow_email flag
  src/utils/resources.py
Due: none

Kill the old 'unprotected/protected/skipped' setting hell
  helpers/setting
  src/app.py
Due: test-helpers, test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

Kill old --package option and .ini for PHP FPM config
  helpers/php
Due: test-helpers

Handle undefined main permission url
  src/utils/resources.py
Due: none

Update changelog for 11.1.12
  debian/changelog
Due: none

[CI] Format code with Black
  src/app.py
  src/tests/test_apps.py
  src/utils/resources.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

Update changelog for 11.1.12.1
  debian/changelog
Due: none

helper: fix previous tweak about debugging diff for manually modified files on the CI @_@
  helpers/backup
Due: test-helpers

helpers: omg base64 wraps the output by default :|
  helpers/backup
Due: test-helpers

Update changelog for 11.1.12.2
  debian/changelog
Due: none

trying to fix _port_is_used
  src/utils/resources.py
Due: none

appsv2: when hydrating template, the data may be not-string, eg ports are int
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-changeurl, test-i18n-keys

Translated using Weblate (Arabic)
  locales/ar.json
Due: autofix-translated-strings

Translated using Weblate (Occitan)
  locales/oc.json
Due: autofix-translated-strings

Translated using Weblate (German)
  locales/de.json
Due: autofix-translated-strings

Update locales/fr.json
  locales/fr.json
Due: autofix-translated-strings

Update changelog for 11.1.13
  debian/changelog
Due: none

helpers: simplify --time display option for ynh_script_progression .. we don't care about displaying time when below 10 sc
  helpers/logging
Due: test-helpers

Typo >_>
  helpers/logging
Due: test-helpers

appsv2/sources: change 'sources.toml' to a new 'sources' app resource instead
  helpers/utils
  src/app.py
  src/backup.py
  src/utils/resources.py
Due: test-helpers, test-apps, test-appurl, test-app-config, test-changeurl, test-backuprestore, test-i18n-keys

Path conditions:
  test-actionmap: any of: share/actionsmap.yml
  test-helpers: any of: helpers/*
  test-domains: any of: src/domain.py
  test-dns: any of: src/dns.py, src/utils/dns.py
  test-apps: any of: src/app.py
  test-appscatalog: any of: src/app_calalog.py
  test-appurl: any of: src/app.py
  test-questions: any of: src/utils/config.py
  test-app-config: any of: src/app.py, src/utils/config.py
  test-changeurl: any of: src/app.py
  test-backuprestore: any of: src/backup.py
  test-permission: any of: src/permission.py
  test-settings: any of: src/settings.py
  test-user-group: any of: src/user.py
  test-regenconf: any of: src/regenconf.py
  test-service: any of: src/service.py
  test-ldapauth: any of: src/authenticators/*.py
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py
  autofix-translated-strings: any of: locales/*
