Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-actionmap, test-helpers, test-domains, test-dns, test-apps, test-appscatalog, test-appurl, test-questions, test-app-config, test-changeurl, test-backuprestore, test-permission, test-settings, test-user-group, test-regenconf, test-service, test-ldapauth, test-i18n-keys, autofix-translated-strings

test-actionmap:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

test-helpers:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

test-domains:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

test-dns:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

test-apps:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

test-appscatalog:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

test-appurl:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

test-questions:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

test-app-config:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

Clarification
  locales/en.json
Due: test-i18n-keys, autofix-translated-strings

Update src/utils/network.py
  src/utils/network.py
Due: none

Typo
  locales/en.json
  src/utils/network.py
Due: test-i18n-keys, autofix-translated-strings

Using f-strings
  src/utils/network.py
Due: none

Added some caching on get_public_ips
  src/utils/network.py
Due: none

Using threads to fetch from the IPmirrors
  src/utils/network.py
Due: none

`yunohost domain dns push` works with Dynette domains
  hooks/conf_regen/01-yunohost
  locales/en.json
  share/actionsmap.yml
  src/dns.py
  src/domain.py
  src/dyndns.py
Due: test-actionmap, test-domains, test-dns, test-i18n-keys, autofix-translated-strings

Fix
  share/actionsmap.yml
Due: test-actionmap

Updated locales
  locales/ca.json
  locales/de.json
  locales/en.json
  locales/es.json
  locales/eu.json
  locales/fa.json
  locales/fr.json
  locales/gl.json
  locales/it.json
  locales/uk.json
  locales/zh_Hans.json
  src/dns.py
Due: test-dns, test-i18n-keys, autofix-translated-strings

Update src/dns.py
  src/dns.py
Due: test-dns, test-i18n-keys

Update src/dyndns.py
  src/dyndns.py
Due: test-i18n-keys

Fix
  src/dyndns.py
Due: test-i18n-keys

Removed useless call to dns push
  src/dyndns.py
Due: test-i18n-keys

Raise an actual error (instead of log)
  locales/en.json
  src/dns.py
Due: test-dns, test-i18n-keys, autofix-translated-strings

Better password assert placement
  src/dyndns.py
Due: test-i18n-keys

Added `yunohost domain dyndns list` command
  share/actionsmap.yml
  src/domain.py
  src/dyndns.py
Due: test-actionmap, test-domains, test-i18n-keys

`yunohost domain add` auto-detect DynDNS domains and asks for a --subscribe or --no-subscribe option
  share/actionsmap.yml
  src/domain.py
Due: test-actionmap, test-domains, test-i18n-keys

`yunohost domain remove` auto-detects DynDNS domains and now uses --unsubscribe and --no-unsubscribe
  share/actionsmap.yml
  src/domain.py
Due: test-actionmap, test-domains, test-i18n-keys

Password is only asked once if we unsubscribe
  src/dyndns.py
Due: test-i18n-keys

Removed useless error
  locales/en.json
  src/domain.py
Due: test-domains, test-i18n-keys, autofix-translated-strings

`yunohost tools postinstall` auto-detect DynDNS domains and asks for a --subscribe or --no-subscribe option
  share/actionsmap.yml
  src/tools.py
Due: test-actionmap, test-i18n-keys

Added domain_dyndns_instruction_unclear
  locales/en.json
Due: test-i18n-keys, autofix-translated-strings

`yunohost domain dns push` now accepts an --auto option Domains can be configured to be auto-pushed by a cron job
  hooks/conf_regen/01-yunohost
  locales/en.json
  share/actionsmap.yml
  share/config_domain.toml
  src/dns.py
  src/domain.py
  src/dyndns.py
Due: test-actionmap, test-domains, test-dns, test-i18n-keys, autofix-translated-strings

Clarification
  src/dyndns.py
Due: test-i18n-keys

Clearer locales
  locales/en.json
  src/domain.py
Due: test-domains, test-i18n-keys, autofix-translated-strings

Added an API endpoint to check if a domain is a DynDNS one
  share/actionsmap.yml
  src/domain.py
Due: test-actionmap, test-domains, test-i18n-keys

Added a --full option to `domain list`
  share/actionsmap.yml
  src/domain.py
Due: test-actionmap, test-domains, test-i18n-keys

Small fix
  share/actionsmap.yml
Due: test-actionmap

Ignore cache if "full" is specified
  src/domain.py
Due: test-domains, test-i18n-keys

Redact domain passwords in logs
  src/domain.py
  src/dyndns.py
Due: test-domains, test-i18n-keys

Don't ask for the (un)subscribe options if this is a sub-subdomain
  src/domain.py
Due: test-domains, test-i18n-keys

Don't flag sub-DynDNS domains as subscribed
  src/domain.py
Due: test-domains, test-i18n-keys

Added some tests for subscribing and unsubscribing
  src/tests/test_domains.py
Due: none

The maximum number of subscribed DynDNS domains is configurable
  src/domain.py
  src/dyndns.py
Due: test-domains, test-i18n-keys

Removed useless argument
  .gitlab/ci/install.gitlab-ci.yml
Due: none

Pleasing the linter
  src/dns.py
  src/domain.py
  src/dyndns.py
  src/tests/test_domains.py
  src/tools.py
  src/utils/config.py
Due: test-domains, test-dns, test-questions, test-app-config, test-i18n-keys

Let the dynette cool down
  src/tests/test_domains.py
Due: none

Removed the useless argument `key` from dyndns_subscribe
  share/actionsmap.yml
  src/dyndns.py
Due: test-actionmap, test-i18n-keys

Better logging for `domain dns push --auto`
  src/dns.py
Due: test-dns, test-i18n-keys

Path conditions:
  test-actionmap: any of: share/actionsmap.yml
  test-helpers: any of: helpers/*
  test-domains: any of: src/domain.py
  test-dns: any of: src/dns.py, src/utils/dns.py
  test-apps: any of: src/app.py
  test-appscatalog: any of: src/app_calalog.py
  test-appurl: any of: src/app.py
  test-questions: any of: src/utils/config.py
  test-app-config: any of: src/app.py, src/utils/config.py
  test-changeurl: any of: src/app.py
  test-backuprestore: any of: src/backup.py
  test-permission: any of: src/permission.py
  test-settings: any of: src/settings.py
  test-user-group: any of: src/user.py
  test-regenconf: any of: src/regenconf.py
  test-service: any of: src/service.py
  test-ldapauth: any of: src/authenticators/*.py
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py
  autofix-translated-strings: any of: locales/*
