Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-actionmap, test-helpers, test-domains, test-dns, test-apps, test-appscatalog, test-appurl, test-questions, test-app-config, test-changeurl, test-backuprestore, test-permission, test-settings, test-user-group, test-regenconf, test-service, test-ldapauth, test-i18n-keys, autofix-translated-strings

test-actionmap:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

test-helpers:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

test-domains:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

test-dns:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

test-apps:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

test-appscatalog:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

test-appurl:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

test-questions:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

test-app-config:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  ...

Fix logic bug, bool('False') in fact equals True é_è
  src/settings.py
Due: test-settings, test-i18n-keys

global settings: fix moar tests ... disabling the failing ones because it's apparently sort-of a feature that those work though debattable ... (though they dont when you're in interactive mode ..)
  src/certificate.py
  src/settings.py
  src/tests/test_settings.py
Due: test-settings, test-i18n-keys

Adapt script for missing i18n key following the change in setting nomenclature
  locales/en.json
  maintenance/missing_i18n_keys.py
  src/migrations/0024_global_settings_to_configpanel.py
Due: test-i18n-keys, autofix-translated-strings

global settings: various fixes
  locales/en.json
  maintenance/missing_i18n_keys.py
  share/config_global.toml
  src/migrations/0024_global_settings_to_configpanel.py
  src/utils/password.py
Due: test-i18n-keys, autofix-translated-strings

Translated using Weblate (Arabic)
  locales/ar.json
Due: autofix-translated-strings

Rename i18n keys for global settings in translations to not loose previous work
  locales/ar.json
  locales/ca.json
  locales/cs.json
  locales/de.json
  locales/eo.json
  locales/es.json
  locales/eu.json
  locales/fa.json
  locales/fr.json
  locales/gl.json
  locales/it.json
  locales/kab.json
  locales/nb_NO.json
  locales/oc.json
  locales/ru.json
  locales/sk.json
  locales/te.json
  locales/uk.json
  locales/zh_Hans.json
Due: autofix-translated-strings

[enh] Revive the old auto documentation of API with swagger
  doc/api.html
  doc/generate_api_doc.py
  doc/openapi.js
  doc/openapi.json
  doc/swagger/favicon-32x32.png
  doc/swagger/index.css
  doc/swagger/swagger-ui-bundle.js
  doc/swagger/swagger-ui-bundle.js.map
  doc/swagger/swagger-ui-standalone-preset.js
  doc/swagger/swagger-ui-standalone-preset.js.map
  doc/swagger/swagger-ui.css
  doc/swagger/swagger-ui.css.map
Due: none

[fix] RequestBody versus params in auto apidoc
  doc/api.html
  doc/generate_api_doc.py
  doc/openapi.js
  doc/openapi.json
Due: none

[fix] Auto api doc no need of Headers on other than post
  doc/generate_api_doc.py
  doc/openapi.js
  doc/openapi.json
Due: none

i18n: fix weird phrasing for fr translation...
  locales/fr.json
Due: autofix-translated-strings

global settings: misc naming/ui/ux/i18n improvements
  hooks/conf_regen/15-nginx
  locales/en.json
  locales/fr.json
  share/config_global.toml
  src/utils/legacy.py
Due: test-i18n-keys, autofix-translated-strings

global settings: drop the support old DSA hostkey support
  hooks/conf_regen/03-ssh
  locales/en.json
  share/config_global.toml
  src/utils/legacy.py
Due: test-i18n-keys, autofix-translated-strings

[fix] Remove Authentication from swagger API
  doc/api.html
  doc/bash_completion.d/yunohost
  doc/generate_api_doc.py
  doc/openapi.js
  doc/openapi.json
Due: none

[wip] Enable CORS on API
  conf/nginx/yunohost_api.conf.inc
Due: none

[fix] Define an origin
  conf/nginx/yunohost_api.conf.inc
Due: none

Update changelog for 11.0.8
  debian/changelog
Due: none

Zbleuarg
  src/utils/config.py
Due: test-questions, test-app-config

Update changelog for 11.0.8.1
  debian/changelog
Due: none

Fixing path in the generating doc script
  .gitlab/ci/doc.gitlab-ci.yml
Due: none

[enh] Simplify the pip freeze call
  src/yunohost/data_migrations/0021_migrate_to_bullseye.py
Due: none

[enh] Simplify the pip install call
  src/yunohost/data_migrations/0021_migrate_to_bullseye.py
Due: none

[enh] Split bullseye migration and venv migrations
  src/yunohost/data_migrations/0021_migrate_to_bullseye.py
Due: none

[enh] Split python rebuild migrations
  locales/en.json
  src/migrations/0024_rebuild_python_venv.py
Due: test-i18n-keys, autofix-translated-strings

[enh] Add disclaimer and manual or automatic mode on python migrations
  locales/en.json
  src/migrations/0024_rebuild_python_venv.py
Due: test-i18n-keys, autofix-translated-strings

bullseye migration: in venv / pip freeze backup mechanism, remove the venv_ignore stuff because it's not relevant anymore
  src/yunohost/data_migrations/0021_migrate_to_bullseye.py
Due: none

bullseye migration: _generate_requirements -> _backup_pip_freeze_for_python_app_venvs
  src/yunohost/data_migrations/0021_migrate_to_bullseye.py
Due: none

venv rebuild: various improvements in the migration code
  locales/en.json
  src/migrations/0024_rebuild_python_venv.py
Due: test-i18n-keys, autofix-translated-strings

Typo :|
  src/migrations/0024_rebuild_python_venv.py
Due: none

venv rebuild: moar logic fixes
  locales/en.json
  src/migrations/0024_rebuild_python_venv.py
Due: test-i18n-keys, autofix-translated-strings

Unused import
  src/migrations/0024_rebuild_python_venv.py
Due: none

bullseye migration: tweak message to prepare for stable release
  src/yunohost/data_migrations/0021_migrate_to_bullseye.py
Due: none

services: Skip php 7.3 which is most likely dead after buster->bullseye migration because users get spooked
  src/service.py
Due: test-service, test-i18n-keys

Translated using Weblate (French)
  locales/fr.json
Due: autofix-translated-strings

Update changelog for 11.0.9
  debian/changelog
Due: none

Path conditions:
  test-actionmap: any of: share/actionsmap.yml
  test-helpers: any of: helpers/*
  test-domains: any of: src/domain.py
  test-dns: any of: src/dns.py, src/utils/dns.py
  test-apps: any of: src/app.py
  test-appscatalog: any of: src/app_calalog.py
  test-appurl: any of: src/app.py
  test-questions: any of: src/utils/config.py
  test-app-config: any of: src/app.py, src/utils/config.py
  test-changeurl: any of: src/app.py
  test-backuprestore: any of: src/backup.py
  test-permission: any of: src/permission.py
  test-settings: any of: src/settings.py
  test-user-group: any of: src/user.py
  test-regenconf: any of: src/regenconf.py
  test-service: any of: src/service.py
  test-ldapauth: any of: src/authenticators/*.py
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py
  autofix-translated-strings: any of: locales/*
